@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800";

@import "mixins";
@import "settings";
@import "base";
@import "grids";
@import "grids-units";
@import "grids-responsive";
@import "icons";
@import "icons-elusive";
@import "icons-font-awesome";
@import "icons-foundation";
@import "icons-ionicons";
@import "icons-meteocons";
@import "icons-metrize";
@import "icons-open-iconic";
@import "icons-typicons";
@import "forms";
@import "buttons";
@import "menus";
@import "tables";
@import "typography";


/* theme styles*/

body {
	font-family: @font-sans;
	margin: 0 0 50px 0;
    color: #777;

    margin-bottom: 500px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: rgb(75, 75, 75);
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.125em;
}

a {
    color: #3b8bba; /* block-background-text-normal */
    text-decoration: none;
}

a:visited {
    color: #265778; /* block-normal-text-normal */
}

.m-button {
	background-color: #0078e7;
	color: #fff;
}


/* custom styles */

.site-menu {
	position: fixed;
	width: 200px !important;
	top: 10px;
	right: 10px;
}


/* grid */

.m-grid {
	.content {
		background-color: #eee;
		border: 1px solid #ddd;
		padding: 5px;
		margin-bottom: 10px;
	}

	> * > input, [class^="m-input-"], [class*="m-input-"] {
		margin-bottom: 10px;
	}
}


/* icons */

.icon-grid {
	li {
    	cursor: help;
		padding: 3px;

		i {
			font-size: 30px;
			line-height: 1.5;

			&:hover {
				color: black;
			}
		}
	}
}


/* menus */

.styled-navbar {
	border-bottom: 1px solid #ccc;
	height: auto;

	&>.m-navbar-menu {
		&> li.m-navbar-parent:hover {
        	&>a {
                border-bottom: 1px solid white; 

		        @media (max-width: @r-menu-width) { 
		            border: none;
		        } 
        	}
		}
	}

	.m-navbar-menu {
        &> li {
            margin-bottom: -1px;

            &:hover {
            	&>a {
                    background-color: white;   
            	}
            }

            &>a {
                padding: 5px 15px;
                border: 1px solid #ccc;
                background-color: #fff;
                .border-radius(5px, 0, 0, 5px);
                z-index: 3;
                top: 0;  

		        @media (max-width: @r-menu-width) { 
		            border: none;
		        }   
            }
        }
    }

    .m-navbar-submenu { 
        z-index: 1;
        border-top: none;

        .m-navbar-submenu { 
        	border: 1px solid #ccc;

	        @media (max-width: @r-menu-width) { 
	            border: none;
	        } 
        }
    }
}



.right-aligned {
	text-align: right;

	&>.m-navbar-menu {
		a {
			text-align: left;
		}
	}
}