/* ==========================================================================
   GRIDS
   ========================================================================== */

.m-container {
    max-width: @width-container;
    margin: 0 auto;
}  

.m-grid {
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    *letter-spacing: normal; /* reset IE < 8 */
    *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */

    font-family: @font-sans;

    display: -webkit-flex;
    -webkit-flex-flow: row wrap;

    /* IE10 uses display: flexbox */
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;

    &> [class^="m-u-"], &> [class*=" m-u-"] {
        padding: 0 15px;
    }
}

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.m-grid {
    word-spacing: -0.43em;
}

.m-unit {
    display: inline-block;
    *display: inline; /* IE < 8: fake inline-block */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

/*
Resets the font family back to the OS/browser's default sans-serif font,
this the same font stack that Normalize.css sets for the `body`.
*/
.m-grid [class *= "m-unit"] {
    font-family: @font-sans;
}


/* Pulls */
.m-float-left {
    float: left !important;
}

.m-float-right {
    float: right !important;
}

.m-form {
    &> .m-grid {
        &> [class^="m-u-"]:first-child, &> [class*=" m-u-"]:first-child {
            padding-left: 0;
        }
        &> [class^="m-u-"]:last-child, &> [class*=" m-u-"]:last-child {
            padding-right: 0;
        }
    }
}