/* ==========================================================================
   GRIDS (Units)
   ========================================================================== */

.m-u-1,
.m-u-1-1,
.m-u-1-2,
.m-u-1-3,
.m-u-2-3,
.m-u-1-4,
.m-u-3-4,
.m-u-1-5,
.m-u-2-5,
.m-u-3-5,
.m-u-4-5,
.m-u-5-5,
.m-u-1-6,
.m-u-5-6,
.m-u-1-8,
.m-u-3-8,
.m-u-5-8,
.m-u-7-8,
.m-u-1-12,
.m-u-5-12,
.m-u-7-12,
.m-u-11-12,
.m-u-1-24,
.m-u-2-24,
.m-u-3-24,
.m-u-4-24,
.m-u-5-24,
.m-u-6-24,
.m-u-7-24,
.m-u-8-24,
.m-u-9-24,
.m-u-10-24,
.m-u-11-24,
.m-u-12-24,
.m-u-13-24,
.m-u-14-24,
.m-u-15-24,
.m-u-16-24,
.m-u-17-24,
.m-u-18-24,
.m-u-19-24,
.m-u-20-24,
.m-u-21-24,
.m-u-22-24,
.m-u-23-24,
.m-u-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.m-u-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
}

.m-u-1-12,
.m-u-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
}

.m-u-1-8,
.m-u-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
}

.m-u-1-6,
.m-u-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
}

.m-u-1-5 {
    width: 20%;
    *width: 19.9690%;
}

.m-u-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
}

.m-u-1-4,
.m-u-6-24 {
    width: 25%;
    *width: 24.9690%;
}

.m-u-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
}

.m-u-1-3,
.m-u-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
}

.m-u-3-8,
.m-u-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
}

.m-u-2-5 {
    width: 40%;
    *width: 39.9690%;
}

.m-u-5-12,
.m-u-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
}

.m-u-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
}

.m-u-1-2,
.m-u-12-24 {
    width: 50%;
    *width: 49.9690%;
}

.m-u-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
}

.m-u-7-12,
.m-u-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
}

.m-u-3-5 {
    width: 60%;
    *width: 59.9690%;
}

.m-u-5-8,
.m-u-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
}

.m-u-2-3,
.m-u-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
}

.m-u-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
}

.m-u-3-4,
.m-u-18-24 {
    width: 75%;
    *width: 74.9690%;
}

.m-u-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
}

.m-u-4-5 {
    width: 80%;
    *width: 79.9690%;
}

.m-u-5-6,
.m-u-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
}

.m-u-7-8,
.m-u-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
}

.m-u-11-12,
.m-u-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
}

.m-u-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
}

.m-u-1,
.m-u-1-1,
.m-u-5-5,
.m-u-24-24 {
    width: 100%;
}