/* ==========================================================================
   GRIDS (Responsive)
   ========================================================================== */

@media screen and (max-width: @width-xs) { //xsmall
    .m-u-xs-1,
    .m-u-xs-1-1,
    .m-u-xs-1-2,
    .m-u-xs-1-3,
    .m-u-xs-2-3,
    .m-u-xs-1-4,
    .m-u-xs-3-4,
    .m-u-xs-1-5,
    .m-u-xs-2-5,
    .m-u-xs-3-5,
    .m-u-xs-4-5,
    .m-u-xs-5-5,
    .m-u-xs-1-6,
    .m-u-xs-5-6,
    .m-u-xs-1-8,
    .m-u-xs-3-8,
    .m-u-xs-5-8,
    .m-u-xs-7-8,
    .m-u-xs-1-12,
    .m-u-xs-5-12,
    .m-u-xs-7-12,
    .m-u-xs-11-12,
    .m-u-xs-1-24,
    .m-u-xs-2-24,
    .m-u-xs-3-24,
    .m-u-xs-4-24,
    .m-u-xs-5-24,
    .m-u-xs-6-24,
    .m-u-xs-7-24,
    .m-u-xs-8-24,
    .m-u-xs-9-24,
    .m-u-xs-10-24,
    .m-u-xs-11-24,
    .m-u-xs-12-24,
    .m-u-xs-13-24,
    .m-u-xs-14-24,
    .m-u-xs-15-24,
    .m-u-xs-16-24,
    .m-u-xs-17-24,
    .m-u-xs-18-24,
    .m-u-xs-19-24,
    .m-u-xs-20-24,
    .m-u-xs-21-24,
    .m-u-xs-22-24,
    .m-u-xs-23-24,
    .m-u-xs-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .m-u-xs-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .m-u-xs-1-12,
    .m-u-xs-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .m-u-xs-1-8,
    .m-u-xs-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .m-u-xs-1-6,
    .m-u-xs-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .m-u-xs-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .m-u-xs-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .m-u-xs-1-4,
    .m-u-xs-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .m-u-xs-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .m-u-xs-1-3,
    .m-u-xs-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .m-u-xs-3-8,
    .m-u-xs-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .m-u-xs-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .m-u-xs-5-12,
    .m-u-xs-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .m-u-xs-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .m-u-xs-1-2,
    .m-u-xs-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .m-u-xs-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .m-u-xs-7-12,
    .m-u-xs-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .m-u-xs-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .m-u-xs-5-8,
    .m-u-xs-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .m-u-xs-2-3,
    .m-u-xs-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .m-u-xs-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .m-u-xs-3-4,
    .m-u-xs-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .m-u-xs-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .m-u-xs-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .m-u-xs-5-6,
    .m-u-xs-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .m-u-xs-7-8,
    .m-u-xs-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .m-u-xs-11-12,
    .m-u-xs-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .m-u-xs-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .m-u-xs-1,
    .m-u-xs-1-1,
    .m-u-xs-5-5,
    .m-u-xs-24-24 {
        width: 100%;
    }
}


// @media screen and (min-width: 35.5em) {
@media screen and (min-width: @width-xs) and (max-width: @width-sm) { //small
    .m-u-sm-1,
    .m-u-sm-1-1,
    .m-u-sm-1-2,
    .m-u-sm-1-3,
    .m-u-sm-2-3,
    .m-u-sm-1-4,
    .m-u-sm-3-4,
    .m-u-sm-1-5,
    .m-u-sm-2-5,
    .m-u-sm-3-5,
    .m-u-sm-4-5,
    .m-u-sm-5-5,
    .m-u-sm-1-6,
    .m-u-sm-5-6,
    .m-u-sm-1-8,
    .m-u-sm-3-8,
    .m-u-sm-5-8,
    .m-u-sm-7-8,
    .m-u-sm-1-12,
    .m-u-sm-5-12,
    .m-u-sm-7-12,
    .m-u-sm-11-12,
    .m-u-sm-1-24,
    .m-u-sm-2-24,
    .m-u-sm-3-24,
    .m-u-sm-4-24,
    .m-u-sm-5-24,
    .m-u-sm-6-24,
    .m-u-sm-7-24,
    .m-u-sm-8-24,
    .m-u-sm-9-24,
    .m-u-sm-10-24,
    .m-u-sm-11-24,
    .m-u-sm-12-24,
    .m-u-sm-13-24,
    .m-u-sm-14-24,
    .m-u-sm-15-24,
    .m-u-sm-16-24,
    .m-u-sm-17-24,
    .m-u-sm-18-24,
    .m-u-sm-19-24,
    .m-u-sm-20-24,
    .m-u-sm-21-24,
    .m-u-sm-22-24,
    .m-u-sm-23-24,
    .m-u-sm-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .m-u-sm-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .m-u-sm-1-12,
    .m-u-sm-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .m-u-sm-1-8,
    .m-u-sm-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .m-u-sm-1-6,
    .m-u-sm-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .m-u-sm-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .m-u-sm-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .m-u-sm-1-4,
    .m-u-sm-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .m-u-sm-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .m-u-sm-1-3,
    .m-u-sm-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .m-u-sm-3-8,
    .m-u-sm-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .m-u-sm-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .m-u-sm-5-12,
    .m-u-sm-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .m-u-sm-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .m-u-sm-1-2,
    .m-u-sm-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .m-u-sm-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .m-u-sm-7-12,
    .m-u-sm-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .m-u-sm-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .m-u-sm-5-8,
    .m-u-sm-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .m-u-sm-2-3,
    .m-u-sm-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .m-u-sm-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .m-u-sm-3-4,
    .m-u-sm-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .m-u-sm-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .m-u-sm-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .m-u-sm-5-6,
    .m-u-sm-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .m-u-sm-7-8,
    .m-u-sm-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .m-u-sm-11-12,
    .m-u-sm-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .m-u-sm-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .m-u-sm-1,
    .m-u-sm-1-1,
    .m-u-sm-5-5,
    .m-u-sm-24-24 {
        width: 100%;
    }
}

// @media screen and (min-width: 48em) {
@media screen and (min-width: @width-sm) and (max-width: @width-md) { //medium
    .m-u-md-1,
    .m-u-md-1-1,
    .m-u-md-1-2,
    .m-u-md-1-3,
    .m-u-md-2-3,
    .m-u-md-1-4,
    .m-u-md-3-4,
    .m-u-md-1-5,
    .m-u-md-2-5,
    .m-u-md-3-5,
    .m-u-md-4-5,
    .m-u-md-5-5,
    .m-u-md-1-6,
    .m-u-md-5-6,
    .m-u-md-1-8,
    .m-u-md-3-8,
    .m-u-md-5-8,
    .m-u-md-7-8,
    .m-u-md-1-12,
    .m-u-md-5-12,
    .m-u-md-7-12,
    .m-u-md-11-12,
    .m-u-md-1-24,
    .m-u-md-2-24,
    .m-u-md-3-24,
    .m-u-md-4-24,
    .m-u-md-5-24,
    .m-u-md-6-24,
    .m-u-md-7-24,
    .m-u-md-8-24,
    .m-u-md-9-24,
    .m-u-md-10-24,
    .m-u-md-11-24,
    .m-u-md-12-24,
    .m-u-md-13-24,
    .m-u-md-14-24,
    .m-u-md-15-24,
    .m-u-md-16-24,
    .m-u-md-17-24,
    .m-u-md-18-24,
    .m-u-md-19-24,
    .m-u-md-20-24,
    .m-u-md-21-24,
    .m-u-md-22-24,
    .m-u-md-23-24,
    .m-u-md-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .m-u-md-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .m-u-md-1-12,
    .m-u-md-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .m-u-md-1-8,
    .m-u-md-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .m-u-md-1-6,
    .m-u-md-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .m-u-md-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .m-u-md-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .m-u-md-1-4,
    .m-u-md-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .m-u-md-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .m-u-md-1-3,
    .m-u-md-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .m-u-md-3-8,
    .m-u-md-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .m-u-md-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .m-u-md-5-12,
    .m-u-md-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .m-u-md-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .m-u-md-1-2,
    .m-u-md-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .m-u-md-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .m-u-md-7-12,
    .m-u-md-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .m-u-md-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .m-u-md-5-8,
    .m-u-md-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .m-u-md-2-3,
    .m-u-md-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .m-u-md-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .m-u-md-3-4,
    .m-u-md-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .m-u-md-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .m-u-md-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .m-u-md-5-6,
    .m-u-md-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .m-u-md-7-8,
    .m-u-md-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .m-u-md-11-12,
    .m-u-md-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .m-u-md-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .m-u-md-1,
    .m-u-md-1-1,
    .m-u-md-5-5,
    .m-u-md-24-24 {
        width: 100%;
    }
}

// @media screen and (min-width: 64em) {
@media screen and (min-width: @width-md) and (max-width: @width-lg) { //large
    .m-u-lg-1,
    .m-u-lg-1-1,
    .m-u-lg-1-2,
    .m-u-lg-1-3,
    .m-u-lg-2-3,
    .m-u-lg-1-4,
    .m-u-lg-3-4,
    .m-u-lg-1-5,
    .m-u-lg-2-5,
    .m-u-lg-3-5,
    .m-u-lg-4-5,
    .m-u-lg-5-5,
    .m-u-lg-1-6,
    .m-u-lg-5-6,
    .m-u-lg-1-8,
    .m-u-lg-3-8,
    .m-u-lg-5-8,
    .m-u-lg-7-8,
    .m-u-lg-1-12,
    .m-u-lg-5-12,
    .m-u-lg-7-12,
    .m-u-lg-11-12,
    .m-u-lg-1-24,
    .m-u-lg-2-24,
    .m-u-lg-3-24,
    .m-u-lg-4-24,
    .m-u-lg-5-24,
    .m-u-lg-6-24,
    .m-u-lg-7-24,
    .m-u-lg-8-24,
    .m-u-lg-9-24,
    .m-u-lg-10-24,
    .m-u-lg-11-24,
    .m-u-lg-12-24,
    .m-u-lg-13-24,
    .m-u-lg-14-24,
    .m-u-lg-15-24,
    .m-u-lg-16-24,
    .m-u-lg-17-24,
    .m-u-lg-18-24,
    .m-u-lg-19-24,
    .m-u-lg-20-24,
    .m-u-lg-21-24,
    .m-u-lg-22-24,
    .m-u-lg-23-24,
    .m-u-lg-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .m-u-lg-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .m-u-lg-1-12,
    .m-u-lg-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .m-u-lg-1-8,
    .m-u-lg-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .m-u-lg-1-6,
    .m-u-lg-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .m-u-lg-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .m-u-lg-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .m-u-lg-1-4,
    .m-u-lg-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .m-u-lg-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .m-u-lg-1-3,
    .m-u-lg-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .m-u-lg-3-8,
    .m-u-lg-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .m-u-lg-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .m-u-lg-5-12,
    .m-u-lg-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .m-u-lg-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .m-u-lg-1-2,
    .m-u-lg-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .m-u-lg-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .m-u-lg-7-12,
    .m-u-lg-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .m-u-lg-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .m-u-lg-5-8,
    .m-u-lg-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .m-u-lg-2-3,
    .m-u-lg-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .m-u-lg-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .m-u-lg-3-4,
    .m-u-lg-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .m-u-lg-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .m-u-lg-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .m-u-lg-5-6,
    .m-u-lg-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .m-u-lg-7-8,
    .m-u-lg-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .m-u-lg-11-12,
    .m-u-lg-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .m-u-lg-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .m-u-lg-1,
    .m-u-lg-1-1,
    .m-u-lg-5-5,
    .m-u-lg-24-24 {
        width: 100%;
    }
}

// @media screen and (min-width: 80em) {
@media screen and (min-width: @width-lg) { //xlarge
    .m-u-xl-1,
    .m-u-xl-1-1,
    .m-u-xl-1-2,
    .m-u-xl-1-3,
    .m-u-xl-2-3,
    .m-u-xl-1-4,
    .m-u-xl-3-4,
    .m-u-xl-1-5,
    .m-u-xl-2-5,
    .m-u-xl-3-5,
    .m-u-xl-4-5,
    .m-u-xl-5-5,
    .m-u-xl-1-6,
    .m-u-xl-5-6,
    .m-u-xl-1-8,
    .m-u-xl-3-8,
    .m-u-xl-5-8,
    .m-u-xl-7-8,
    .m-u-xl-1-12,
    .m-u-xl-5-12,
    .m-u-xl-7-12,
    .m-u-xl-11-12,
    .m-u-xl-1-24,
    .m-u-xl-2-24,
    .m-u-xl-3-24,
    .m-u-xl-4-24,
    .m-u-xl-5-24,
    .m-u-xl-6-24,
    .m-u-xl-7-24,
    .m-u-xl-8-24,
    .m-u-xl-9-24,
    .m-u-xl-10-24,
    .m-u-xl-11-24,
    .m-u-xl-12-24,
    .m-u-xl-13-24,
    .m-u-xl-14-24,
    .m-u-xl-15-24,
    .m-u-xl-16-24,
    .m-u-xl-17-24,
    .m-u-xl-18-24,
    .m-u-xl-19-24,
    .m-u-xl-20-24,
    .m-u-xl-21-24,
    .m-u-xl-22-24,
    .m-u-xl-23-24,
    .m-u-xl-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .m-u-xl-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .m-u-xl-1-12,
    .m-u-xl-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .m-u-xl-1-8,
    .m-u-xl-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .m-u-xl-1-6,
    .m-u-xl-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .m-u-xl-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .m-u-xl-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .m-u-xl-1-4,
    .m-u-xl-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .m-u-xl-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .m-u-xl-1-3,
    .m-u-xl-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .m-u-xl-3-8,
    .m-u-xl-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .m-u-xl-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .m-u-xl-5-12,
    .m-u-xl-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .m-u-xl-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .m-u-xl-1-2,
    .m-u-xl-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .m-u-xl-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .m-u-xl-7-12,
    .m-u-xl-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .m-u-xl-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .m-u-xl-5-8,
    .m-u-xl-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .m-u-xl-2-3,
    .m-u-xl-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .m-u-xl-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .m-u-xl-3-4,
    .m-u-xl-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .m-u-xl-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .m-u-xl-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .m-u-xl-5-6,
    .m-u-xl-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .m-u-xl-7-8,
    .m-u-xl-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .m-u-xl-11-12,
    .m-u-xl-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .m-u-xl-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .m-u-xl-1,
    .m-u-xl-1-1,
    .m-u-xl-5-5,
    .m-u-xl-24-24 {
        width: 100%;
    }
}

@media screen and (max-width: @width-xs) { 
    .m-hidden-xs {
        display: none !important;
    }
    .m-show-xs {
        display: block !important;
    }
}

@media screen and (min-width: @width-xs) and (max-width: @width-sm) { 
    .m-hidden-sm {
        display: none !important;
    }
    .m-show-sm {
        display: block !important;
    }
}

@media screen and (min-width: @width-sm) and (max-width: @width-md) { 
    .m-hidden-md {
        display: none !important;
    }
    .m-show-md {
        display: block !important;
    }
}

@media screen and (min-width: @width-md) and (max-width: @width-lg) { 
    .m-hidden-lg {
        display: none !important;
    }
    .m-show-lg {
        display: block !important;
    }
}

@media screen and (min-width: @width-lg) { 
    .m-hidden-xl {
        display: none !important;
    } 
    .m-show-xl {
        display: block !important;
    }
}