/* --------------------------------------------------------------------- */
/* ELUSIVE */

@elusive-font-path: '@{font-path}elusive';

@font-face {
	font-family: 'Elusive-Icons';
	src:url('@{elusive-font-path}.eot');
	src:url('@{elusive-font-path}.eot?#iefix') format('embedded-opentype'),
		url('@{elusive-font-path}.ttf') format('truetype'),
		url('@{elusive-font-path}.woff') format('woff'),
		url('@{elusive-font-path}.svg#Elusive-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="el-"], [class*=" el-"] {
	font-family: 'Elusive-Icons';
}

.el-zoom-out:before {
	content: "\e600";
}
.el-zoom-in:before {
	content: "\e601";
}
.el-youtube:before {
	content: "\e602";
}
.el-wrench-alt:before {
	content: "\e603";
}
.el-wrench:before {
	content: "\e604";
}
.el-wordpress:before {
	content: "\e605";
}
.el-wheelchair:before {
	content: "\e606";
}
.el-website-alt:before {
	content: "\e607";
}
.el-website:before {
	content: "\e608";
}
.el-warning-sign:before {
	content: "\e609";
}
.el-w3c:before {
	content: "\e60a";
}
.el-volume-up:before {
	content: "\e60b";
}
.el-volume-off:before {
	content: "\e60c";
}
.el-volume-down:before {
	content: "\e60d";
}
.el-vkontakte:before {
	content: "\e60e";
}
.el-vimeo:before {
	content: "\e60f";
}
.el-view-mode:before {
	content: "\e610";
}
.el-video-chat:before {
	content: "\e611";
}
.el-video-alt:before {
	content: "\e612";
}
.el-video:before {
	content: "\e613";
}
.el-viadeo:before {
	content: "\e614";
}
.el-user:before {
	content: "\e615";
}
.el-usd:before {
	content: "\e616";
}
.el-upload:before {
	content: "\e617";
}
.el-unlock-alt:before {
	content: "\e618";
}
.el-unlock:before {
	content: "\e619";
}
.el-universal-access:before {
	content: "\e61a";
}
.el-twitter:before {
	content: "\e61b";
}
.el-tumblr:before {
	content: "\e61c";
}
.el-trash-alt:before {
	content: "\e61d";
}
.el-trash:before {
	content: "\e61e";
}
.el-torso:before {
	content: "\e61f";
}
.el-tint:before {
	content: "\e620";
}
.el-time-alt:before {
	content: "\e621";
}
.el-time:before {
	content: "\e622";
}
.el-thumbs-up:before {
	content: "\e623";
}
.el-thumbs-down:before {
	content: "\e624";
}
.el-th-list:before {
	content: "\e625";
}
.el-th-large:before {
	content: "\e626";
}
.el-th:before {
	content: "\e627";
}
.el-text-width:before {
	content: "\e628";
}
.el-text-height:before {
	content: "\e629";
}
.el-tasks:before {
	content: "\e62a";
}
.el-tags:before {
	content: "\e62b";
}
.el-tag:before {
	content: "\e62c";
}
.el-stumbleupon:before {
	content: "\e62d";
}
.el-stop-alt:before {
	content: "\e62e";
}
.el-stop:before {
	content: "\e62f";
}
.el-step-forward:before {
	content: "\e630";
}
.el-step-backward:before {
	content: "\e631";
}
.el-star-empty:before {
	content: "\e632";
}
.el-star-alt:before {
	content: "\e633";
}
.el-star:before {
	content: "\e634";
}
.el-stackoverflow:before {
	content: "\e635";
}
.el-spotify:before {
	content: "\e636";
}
.el-speaker:before {
	content: "\e637";
}
.el-soundcloud:before {
	content: "\e638";
}
.el-smiley-alt:before {
	content: "\e639";
}
.el-smiley:before {
	content: "\e63a";
}
.el-slideshare:before {
	content: "\e63b";
}
.el-skype:before {
	content: "\e63c";
}
.el-signal:before {
	content: "\e63d";
}
.el-shopping-cart-sign:before {
	content: "\e63e";
}
.el-shopping-cart:before {
	content: "\e63f";
}
.el-share-alt:before {
	content: "\e640";
}
.el-share:before {
	content: "\e641";
}
.el-search-alt:before {
	content: "\e642";
}
.el-search:before {
	content: "\e643";
}
.el-screenshot:before {
	content: "\e644";
}
.el-screen-alt:before {
	content: "\e645";
}
.el-screen:before {
	content: "\e646";
}
.el-scissors:before {
	content: "\e647";
}
.el-rss:before {
	content: "\e648";
}
.el-road:before {
	content: "\e649";
}
.el-reverse-alt:before {
	content: "\e64a";
}
.el-retweet:before {
	content: "\e64b";
}
.el-return-key:before {
	content: "\e64c";
}
.el-resize-vertical:before {
	content: "\e64d";
}
.el-resize-small:before {
	content: "\e64e";
}
.el-resize-horizontal:before {
	content: "\e64f";
}
.el-resize-full:before {
	content: "\e650";
}
.el-repeat-alt:before {
	content: "\e651";
}
.el-repeat:before {
	content: "\e652";
}
.el-remove-sign:before {
	content: "\e653";
}
.el-remove-circle:before {
	content: "\e654";
}
.el-remove:before {
	content: "\e655";
}
.el-refresh:before {
	content: "\e656";
}
.el-reddit:before {
	content: "\e657";
}
.el-record:before {
	content: "\e658";
}
.el-random:before {
	content: "\e659";
}
.el-quotes-alt:before {
	content: "\e65a";
}
.el-quotes:before {
	content: "\e65b";
}
.el-question-sign:before {
	content: "\e65c";
}
.el-question:before {
	content: "\e65d";
}
.el-qrcode:before {
	content: "\e65e";
}
.el-puzzle:before {
	content: "\e65f";
}
.el-print:before {
	content: "\e660";
}
.el-podcast:before {
	content: "\e661";
}
.el-plus-sign:before {
	content: "\e662";
}
.el-plus:before {
	content: "\e663";
}
.el-play-circle:before {
	content: "\e664";
}
.el-play-alt:before {
	content: "\e665";
}
.el-play:before {
	content: "\e666";
}
.el-plane:before {
	content: "\e667";
}
.el-pinterest:before {
	content: "\e668";
}
.el-picture:before {
	content: "\e669";
}
.el-picasa:before {
	content: "\e66a";
}
.el-photo-alt:before {
	content: "\e66b";
}
.el-photo:before {
	content: "\e66c";
}
.el-phone-alt:before {
	content: "\e66d";
}
.el-phone:before {
	content: "\e66e";
}
.el-person:before {
	content: "\e66f";
}
.el-pencil-alt:before {
	content: "\e670";
}
.el-pencil:before {
	content: "\e671";
}
.el-pause-alt:before {
	content: "\e672";
}
.el-pause:before {
	content: "\e673";
}
.el-path:before {
	content: "\e674";
}
.el-paper-clip-alt:before {
	content: "\e675";
}
.el-paper-clip:before {
	content: "\e676";
}
.el-opensource:before {
	content: "\e677";
}
.el-ok-sign:before {
	content: "\e678";
}
.el-ok-circle:before {
	content: "\e679";
}
.el-ok:before {
	content: "\e67a";
}
.el-off:before {
	content: "\e67b";
}
.el-network:before {
	content: "\e67c";
}
.el-myspace:before {
	content: "\e67d";
}
.el-music:before {
	content: "\e67e";
}
.el-move:before {
	content: "\e67f";
}
.el-minus-sign:before {
	content: "\e680";
}
.el-minus:before {
	content: "\e681";
}
.el-mic-alt:before {
	content: "\e682";
}
.el-mic:before {
	content: "\e683";
}
.el-map-marker-alt:before {
	content: "\e684";
}
.el-map-marker:before {
	content: "\e685";
}
.el-male:before {
	content: "\e686";
}
.el-magnet:before {
	content: "\e687";
}
.el-magic:before {
	content: "\e688";
}
.el-lock-alt:before {
	content: "\e689";
}
.el-lock:before {
	content: "\e68a";
}
.el-livejournal:before {
	content: "\e68b";
}
.el-list-alt:before {
	content: "\e68c";
}
.el-list:before {
	content: "\e68d";
}
.el-linkedin:before {
	content: "\e68e";
}
.el-link:before {
	content: "\e68f";
}
.el-lines:before {
	content: "\e690";
}
.el-leaf:before {
	content: "\e691";
}
.el-lastfm:before {
	content: "\e692";
}
.el-laptop-alt:before {
	content: "\e693";
}
.el-laptop:before {
	content: "\e694";
}
.el-key:before {
	content: "\e695";
}
.el-italic:before {
	content: "\e696";
}
.el-iphone-home:before {
	content: "\e697";
}
.el-instagram:before {
	content: "\e698";
}
.el-info-sign:before {
	content: "\e699";
}
.el-indent-right:before {
	content: "\e69a";
}
.el-indent-left:before {
	content: "\e69b";
}
.el-inbox-box:before {
	content: "\e69c";
}
.el-inbox-alt:before {
	content: "\e69d";
}
.el-inbox:before {
	content: "\e69e";
}
.el-idea-alt:before {
	content: "\e69f";
}
.el-idea:before {
	content: "\e6a0";
}
.el-hourglass:before {
	content: "\e6a1";
}
.el-home-alt:before {
	content: "\e6a2";
}
.el-home:before {
	content: "\e6a3";
}
.el-heart-empty:before {
	content: "\e6a4";
}
.el-heart-alt:before {
	content: "\e6a5";
}
.el-heart:before {
	content: "\e6a6";
}
.el-hearing-impaired:before {
	content: "\e6a7";
}
.el-headphones:before {
	content: "\e6a8";
}
.el-hdd:before {
	content: "\e6a9";
}
.el-hand-up:before {
	content: "\e6aa";
}
.el-hand-right:before {
	content: "\e6ab";
}
.el-hand-left:before {
	content: "\e6ac";
}
.el-hand-down:before {
	content: "\e6ad";
}
.el-guidedog:before {
	content: "\e6ae";
}
.el-group-alt:before {
	content: "\e6af";
}
.el-group:before {
	content: "\e6b0";
}
.el-graph-alt:before {
	content: "\e6b1";
}
.el-graph:before {
	content: "\e6b2";
}
.el-googleplus:before {
	content: "\e6b3";
}
.el-globe-alt:before {
	content: "\e6b4";
}
.el-globe:before {
	content: "\e6b5";
}
.el-glasses:before {
	content: "\e6b6";
}
.el-glass:before {
	content: "\e6b7";
}
.el-github-text:before {
	content: "\e6b8";
}
.el-github:before {
	content: "\e6b9";
}
.el-gift:before {
	content: "\e6ba";
}
.el-gbp:before {
	content: "\e6bb";
}
.el-fullscreen:before {
	content: "\e6bc";
}
.el-friendfeed-rect:before {
	content: "\e6bd";
}
.el-friendfeed:before {
	content: "\e6be";
}
.el-foursquare:before {
	content: "\e6bf";
}
.el-forward-alt:before {
	content: "\e6c0";
}
.el-forward:before {
	content: "\e6c1";
}
.el-fork:before {
	content: "\e6c2";
}
.el-fontsize:before {
	content: "\e6c3";
}
.el-font:before {
	content: "\e6c4";
}
.el-folder-sign:before {
	content: "\e6c5";
}
.el-folder-open:before {
	content: "\e6c6";
}
.el-folder-close:before {
	content: "\e6c7";
}
.el-folder:before {
	content: "\e6c8";
}
.el-flickr:before {
	content: "\e6c9";
}
.el-flag-alt:before {
	content: "\e6ca";
}
.el-flag:before {
	content: "\e6cb";
}
.el-fire:before {
	content: "\e6cc";
}
.el-filter:before {
	content: "\e6cd";
}
.el-film:before {
	content: "\e6ce";
}
.el-file-new-alt:before {
	content: "\e6cf";
}
.el-file-new:before {
	content: "\e6d0";
}
.el-file-edit-alt:before {
	content: "\e6d1";
}
.el-file-edit:before {
	content: "\e6d2";
}
.el-file-alt:before {
	content: "\e6d3";
}
.el-file:before {
	content: "\e6d4";
}
.el-female:before {
	content: "\e6d5";
}
.el-fast-forward:before {
	content: "\e6d6";
}
.el-fast-backward:before {
	content: "\e6d7";
}
.el-facetime-video:before {
	content: "\e6d8";
}
.el-facebook:before {
	content: "\e6d9";
}
.el-eye-open:before {
	content: "\e6da";
}
.el-eye-close:before {
	content: "\e6db";
}
.el-exclamation-sign:before {
	content: "\e6dc";
}
.el-eur:before {
	content: "\e6dd";
}
.el-error-alt:before {
	content: "\e6de";
}
.el-error:before {
	content: "\e6df";
}
.el-envelope-alt:before {
	content: "\e6e0";
}
.el-envelope:before {
	content: "\e6e1";
}
.el-eject:before {
	content: "\e6e2";
}
.el-edit:before {
	content: "\e6e3";
}
.el-dribbble:before {
	content: "\e6e4";
}
.el-download-alt:before {
	content: "\e6e5";
}
.el-download:before {
	content: "\e6e6";
}
.el-digg:before {
	content: "\e6e7";
}
.el-deviantart:before {
	content: "\e6e8";
}
.el-delicious:before {
	content: "\e6e9";
}
.el-dashboard:before {
	content: "\e6ea";
}
.el-css:before {
	content: "\e6eb";
}
.el-credit-card:before {
	content: "\e6ec";
}
.el-compass-alt:before {
	content: "\e6ed";
}
.el-compass:before {
	content: "\e6ee";
}
.el-comment-alt:before {
	content: "\e6ef";
}
.el-comment:before {
	content: "\e6f0";
}
.el-cogs:before {
	content: "\e6f1";
}
.el-cog-alt:before {
	content: "\e6f2";
}
.el-cog:before {
	content: "\e6f3";
}
.el-cloud-alt:before {
	content: "\e6f4";
}
.el-cloud:before {
	content: "\e6f5";
}
.el-circle-arrow-up:before {
	content: "\e6f6";
}
.el-circle-arrow-right:before {
	content: "\e6f7";
}
.el-circle-arrow-left:before {
	content: "\e6f8";
}
.el-circle-arrow-down:before {
	content: "\e6f9";
}
.el-child:before {
	content: "\e6fa";
}
.el-chevron-up:before {
	content: "\e6fb";
}
.el-chevron-right:before {
	content: "\e6fc";
}
.el-chevron-left:before {
	content: "\e6fd";
}
.el-chevron-down:before {
	content: "\e6fe";
}
.el-check-empty:before {
	content: "\e6ff";
}
.el-check:before {
	content: "\e700";
}
.el-certificate:before {
	content: "\e701";
}
.el-cc:before {
	content: "\e702";
}
.el-caret-up:before {
	content: "\e703";
}
.el-caret-right:before {
	content: "\e704";
}
.el-caret-left:before {
	content: "\e705";
}
.el-caret-down:before {
	content: "\e706";
}
.el-car:before {
	content: "\e707";
}
.el-camera:before {
	content: "\e708";
}
.el-calendar-sign:before {
	content: "\e709";
}
.el-calendar:before {
	content: "\e70a";
}
.el-bullhorn:before {
	content: "\e70b";
}
.el-bulb:before {
	content: "\e70c";
}
.el-brush:before {
	content: "\e70d";
}
.el-broom:before {
	content: "\e70e";
}
.el-briefcase:before {
	content: "\e70f";
}
.el-braille:before {
	content: "\e710";
}
.el-bookmark-empty:before {
	content: "\e711";
}
.el-bookmark:before {
	content: "\e712";
}
.el-book:before {
	content: "\e713";
}
.el-bold:before {
	content: "\e714";
}
.el-blogger:before {
	content: "\e715";
}
.el-blind:before {
	content: "\e716";
}
.el-bell:before {
	content: "\e717";
}
.el-behance:before {
	content: "\e718";
}
.el-barcode:before {
	content: "\e719";
}
.el-ban-circle:before {
	content: "\e71a";
}
.el-backward:before {
	content: "\e71b";
}
.el-asl:before {
	content: "\e71c";
}
.el-arrow-up:before {
	content: "\e71d";
}
.el-arrow-right:before {
	content: "\e71e";
}
.el-arrow-left:before {
	content: "\e71f";
}
.el-arrow-down:before {
	content: "\e720";
}
.el-align-right:before {
	content: "\e721";
}
.el-align-left:before {
	content: "\e722";
}
.el-align-justify:before {
	content: "\e723";
}
.el-align-center:before {
	content: "\e724";
}
.el-adult:before {
	content: "\e725";
}
.el-adjust-alt:before {
	content: "\e726";
}
.el-adjust:before {
	content: "\e727";
}
.el-address-book-alt:before {
	content: "\e728";
}
.el-address-book:before {
	content: "\e729";
}
.el-asterisk:before {
	content: "\e72a";
}