/* --------------------------------------------------------------------- */
/* METRIZE */

@metrize-font-path: '@{font-path}metrize';

@font-face {
	font-family: 'Metrize-Icons';
	src:url('@{metrize-font-path}.eot');
	src:url('@{metrize-font-path}.eot?#iefix') format('embedded-opentype'),
		url('@{metrize-font-path}.ttf') format('truetype'),
		url('@{metrize-font-path}.woff') format('woff'),
		url('@{metrize-font-path}.svg#Metrize-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="mz-"], [class*=" mz-"] {
	font-family: 'Metrize-Icons';
}

.mz-yen:before {
	content: "\e000";
}
.mz-world:before {
	content: "\e001";
}
.mz-wireframe-globe:before {
	content: "\e002";
}
.mz-wind:before {
	content: "\e003";
}
.mz-wifi:before {
	content: "\e004";
}
.mz-waves:before {
	content: "\e005";
}
.mz-viewport:before {
	content: "\e006";
}
.mz-viewport-video:before {
	content: "\e007";
}
.mz-user:before {
	content: "\e008";
}
.mz-user-remove:before {
	content: "\e009";
}
.mz-user-ban:before {
	content: "\e00a";
}
.mz-user-add:before {
	content: "\e00b";
}
.mz-upload:before {
	content: "\e00c";
}
.mz-upload-selection:before {
	content: "\e00d";
}
.mz-upload-selection-circle:before {
	content: "\e00e";
}
.mz-underline:before {
	content: "\e00f";
}
.mz-triple-points:before {
	content: "\e010";
}
.mz-top-bottom:before {
	content: "\e011";
}
.mz-three-points:before {
	content: "\e012";
}
.mz-three-points-top:before {
	content: "\e013";
}
.mz-three-points-bottom:before {
	content: "\e014";
}
.mz-text-width:before {
	content: "\e015";
}
.mz-text-size-upper:before {
	content: "\e016";
}
.mz-text-size-reduce:before {
	content: "\e017";
}
.mz-text-paragraph:before {
	content: "\e018";
}
.mz-text-normal:before {
	content: "\e019";
}
.mz-text-justify-right:before {
	content: "\e01a";
}
.mz-text-justify-left:before {
	content: "\e01b";
}
.mz-text-justify-center:before {
	content: "\e01c";
}
.mz-text-height:before {
	content: "\e01d";
}
.mz-text-center:before {
	content: "\e01e";
}
.mz-text-bold:before {
	content: "\e01f";
}
.mz-text-align-right:before {
	content: "\e020";
}
.mz-text-align-left:before {
	content: "\e021";
}
.mz-telephone:before {
	content: "\e022";
}
.mz-sunshine:before {
	content: "\e023";
}
.mz-sun:before {
	content: "\e024";
}
.mz-stop:before {
	content: "\e025";
}
.mz-star:before {
	content: "\e026";
}
.mz-speed:before {
	content: "\e027";
}
.mz-sound-on:before {
	content: "\e028";
}
.mz-sound-off:before {
	content: "\e029";
}
.mz-sos:before {
	content: "\e02a";
}
.mz-social-zerply:before {
	content: "\e02b";
}
.mz-social-youtube:before {
	content: "\e02c";
}
.mz-social-yelp:before {
	content: "\e02d";
}
.mz-social-yahoo:before {
	content: "\e02e";
}
.mz-social-wordpress:before {
	content: "\e02f";
}
.mz-social-virb:before {
	content: "\e030";
}
.mz-social-vimeo:before {
	content: "\e031";
}
.mz-social-viddler:before {
	content: "\e032";
}
.mz-social-twitter:before {
	content: "\e033";
}
.mz-social-tumblr:before {
	content: "\e034";
}
.mz-social-stumbleupon:before {
	content: "\e035";
}
.mz-social-soundcloud:before {
	content: "\e036";
}
.mz-social-skype:before {
	content: "\e037";
}
.mz-social-sharethis:before {
	content: "\e038";
}
.mz-social-quora:before {
	content: "\e039";
}
.mz-social-pinterest:before {
	content: "\e03a";
}
.mz-social-photobucket:before {
	content: "\e03b";
}
.mz-social-paypal:before {
	content: "\e03c";
}
.mz-social-myspace:before {
	content: "\e03d";
}
.mz-social-linkedin:before {
	content: "\e03e";
}
.mz-social-last-fm:before {
	content: "\e03f";
}
.mz-social-grooveshark:before {
	content: "\e040";
}
.mz-social-google-plus:before {
	content: "\e041";
}
.mz-social-github:before {
	content: "\e042";
}
.mz-social-forrst:before {
	content: "\e043";
}
.mz-social-flickr:before {
	content: "\e044";
}
.mz-social-facebook:before {
	content: "\e045";
}
.mz-social-evernote:before {
	content: "\e046";
}
.mz-social-envato:before {
	content: "\e047";
}
.mz-social-email:before {
	content: "\e048";
}
.mz-social-dribbble:before {
	content: "\e049";
}
.mz-social-digg:before {
	content: "\e04a";
}
.mz-social-deviantart:before {
	content: "\e04b";
}
.mz-social-blogger:before {
	content: "\e04c";
}
.mz-social-behance:before {
	content: "\e04d";
}
.mz-social-bebo:before {
	content: "\e04e";
}
.mz-social-addthis:before {
	content: "\e04f";
}
.mz-social-500px:before {
	content: "\e050";
}
.mz-snow:before {
	content: "\e051";
}
.mz-sliders:before {
	content: "\e052";
}
.mz-sliders-vertical:before {
	content: "\e053";
}
.mz-sign-male:before {
	content: "\e054";
}
.mz-sign-female:before {
	content: "\e055";
}
.mz-shield:before {
	content: "\e056";
}
.mz-settings:before {
	content: "\e057";
}
.mz-setting:before {
	content: "\e058";
}
.mz-select-square:before {
	content: "\e059";
}
.mz-select-circle:before {
	content: "\e05a";
}
.mz-search:before {
	content: "\e05b";
}
.mz-scale:before {
	content: "\e05c";
}
.mz-rules:before {
	content: "\e05d";
}
.mz-rss:before {
	content: "\e05e";
}
.mz-retweet:before {
	content: "\e05f";
}
.mz-report-comment:before {
	content: "\e060";
}
.mz-refresh:before {
	content: "\e061";
}
.mz-rec:before {
	content: "\e062";
}
.mz-random:before {
	content: "\e063";
}
.mz-quote:before {
	content: "\e064";
}
.mz-question:before {
	content: "\e065";
}
.mz-previous-fast-step:before {
	content: "\e066";
}
.mz-prev-step:before {
	content: "\e067";
}
.mz-pounds:before {
	content: "\e068";
}
.mz-podcast:before {
	content: "\e069";
}
.mz-plus:before {
	content: "\e06a";
}
.mz-play:before {
	content: "\e06b";
}
.mz-pin:before {
	content: "\e06c";
}
.mz-pin-map:before {
	content: "\e06d";
}
.mz-pig-money:before {
	content: "\e06e";
}
.mz-pause:before {
	content: "\e06f";
}
.mz-paperclip:before {
	content: "\e070";
}
.mz-paperclip-oblique:before {
	content: "\e071";
}
.mz-options-settings:before {
	content: "\e072";
}
.mz-officine:before {
	content: "\e073";
}
.mz-officine-2:before {
	content: "\e074";
}
.mz-off:before {
	content: "\e075";
}
.mz-number-zero:before {
	content: "\e076";
}
.mz-number-two:before {
	content: "\e077";
}
.mz-number-three:before {
	content: "\e078";
}
.mz-number-six:before {
	content: "\e079";
}
.mz-number-seven:before {
	content: "\e07a";
}
.mz-number-one:before {
	content: "\e07b";
}
.mz-number-nine:before {
	content: "\e07c";
}
.mz-number-four:before {
	content: "\e07d";
}
.mz-number-five:before {
	content: "\e07e";
}
.mz-number-eight:before {
	content: "\e07f";
}
.mz-next-step:before {
	content: "\e080";
}
.mz-next-fast-step:before {
	content: "\e081";
}
.mz-music:before {
	content: "\e082";
}
.mz-multi-borders:before {
	content: "\e083";
}
.mz-minus:before {
	content: "\e084";
}
.mz-marker:before {
	content: "\e085";
}
.mz-marker-points:before {
	content: "\e086";
}
.mz-marker-minus:before {
	content: "\e087";
}
.mz-marker-add:before {
	content: "\e088";
}
.mz-map:before {
	content: "\e089";
}
.mz-male-symbol:before {
	content: "\e08a";
}
.mz-mailbox:before {
	content: "\e08b";
}
.mz-mail:before {
	content: "\e08c";
}
.mz-magnet:before {
	content: "\e08d";
}
.mz-magic-wand:before {
	content: "\e08e";
}
.mz-login-lock-refresh:before {
	content: "\e08f";
}
.mz-locked:before {
	content: "\e090";
}
.mz-location:before {
	content: "\e091";
}
.mz-location-maps:before {
	content: "\e092";
}
.mz-list-square:before {
	content: "\e093";
}
.mz-list-circle:before {
	content: "\e094";
}
.mz-link-url:before {
	content: "\e095";
}
.mz-line-through:before {
	content: "\e096";
}
.mz-limit-directions:before {
	content: "\e097";
}
.mz-like-upload:before {
	content: "\e098";
}
.mz-like-remove:before {
	content: "\e099";
}
.mz-like-download:before {
	content: "\e09a";
}
.mz-like-close:before {
	content: "\e09b";
}
.mz-like-ban:before {
	content: "\e09c";
}
.mz-like-add:before {
	content: "\e09d";
}
.mz-left-right:before {
	content: "\e09e";
}
.mz-leaf:before {
	content: "\e09f";
}
.mz-layers:before {
	content: "\e0a0";
}
.mz-landscape:before {
	content: "\e0a1";
}
.mz-key:before {
	content: "\e0a2";
}
.mz-italic:before {
	content: "\e0a3";
}
.mz-info:before {
	content: "\e0a4";
}
.mz-idea:before {
	content: "\e0a5";
}
.mz-home-wifi:before {
	content: "\e0a6";
}
.mz-heart:before {
	content: "\e0a7";
}
.mz-hdd:before {
	content: "\e0a8";
}
.mz-hdd-raid:before {
	content: "\e0a9";
}
.mz-hdd-net:before {
	content: "\e0aa";
}
.mz-grids:before {
	content: "\e0ab";
}
.mz-grid-big:before {
	content: "\e0ac";
}
.mz-graphs:before {
	content: "\e0ad";
}
.mz-forward:before {
	content: "\e0ae";
}
.mz-fire:before {
	content: "\e0af";
}
.mz-female-symbol:before {
	content: "\e0b0";
}
.mz-eye:before {
	content: "\e0b1";
}
.mz-eye-disabled:before {
	content: "\e0b2";
}
.mz-expand:before {
	content: "\e0b3";
}
.mz-expand-vertical:before {
	content: "\e0b4";
}
.mz-expand-horizontal:before {
	content: "\e0b5";
}
.mz-expand-directions:before {
	content: "\e0b6";
}
.mz-exclamation:before {
	content: "\e0b7";
}
.mz-euro:before {
	content: "\e0b8";
}
.mz-email-upload:before {
	content: "\e0b9";
}
.mz-email-spam:before {
	content: "\e0ba";
}
.mz-email-remove:before {
	content: "\e0bb";
}
.mz-email-luminosity:before {
	content: "\e0bc";
}
.mz-email-download:before {
	content: "\e0bd";
}
.mz-email-close:before {
	content: "\e0be";
}
.mz-email-add:before {
	content: "\e0bf";
}
.mz-eject:before {
	content: "\e0c0";
}
.mz-drops:before {
	content: "\e0c1";
}
.mz-drop:before {
	content: "\e0c2";
}
.mz-download:before {
	content: "\e0c3";
}
.mz-download-selection:before {
	content: "\e0c4";
}
.mz-download-selection-circle:before {
	content: "\e0c5";
}
.mz-double-diamonds:before {
	content: "\e0c6";
}
.mz-dot-square:before {
	content: "\e0c7";
}
.mz-dot-line:before {
	content: "\e0c8";
}
.mz-dot-circle:before {
	content: "\e0c9";
}
.mz-dollar:before {
	content: "\e0ca";
}
.mz-documents:before {
	content: "\e0cb";
}
.mz-document:before {
	content: "\e0cc";
}
.mz-document-fill:before {
	content: "\e0cd";
}
.mz-directions:before {
	content: "\e0ce";
}
.mz-cross:before {
	content: "\e0cf";
}
.mz-credit-card:before {
	content: "\e0d0";
}
.mz-copy-paste-document:before {
	content: "\e0d1";
}
.mz-copy-document:before {
	content: "\e0d2";
}
.mz-contract-vertical:before {
	content: "\e0d3";
}
.mz-contract-horizontal:before {
	content: "\e0d4";
}
.mz-contract-directions:before {
	content: "\e0d5";
}
.mz-compass:before {
	content: "\e0d6";
}
.mz-compass-2:before {
	content: "\e0d7";
}
.mz-comments:before {
	content: "\e0d8";
}
.mz-comment:before {
	content: "\e0d9";
}
.mz-coins:before {
	content: "\e0da";
}
.mz-cloud:before {
	content: "\e0db";
}
.mz-cloud-upload:before {
	content: "\e0dc";
}
.mz-cloud-remove:before {
	content: "\e0dd";
}
.mz-cloud-download:before {
	content: "\e0de";
}
.mz-cloud-add:before {
	content: "\e0df";
}
.mz-clock:before {
	content: "\e0e0";
}
.mz-circles:before {
	content: "\e0e1";
}
.mz-check:before {
	content: "\e0e2";
}
.mz-chat:before {
	content: "\e0e3";
}
.mz-chart-down:before {
	content: "\e0e4";
}
.mz-cd-dvd-rom:before {
	content: "\e0e5";
}
.mz-camera:before {
	content: "\e0e6";
}
.mz-button-question:before {
	content: "\e0e7";
}
.mz-button-minus:before {
	content: "\e0e8";
}
.mz-button-exclamation:before {
	content: "\e0e9";
}
.mz-button-email:before {
	content: "\e0ea";
}
.mz-button-close:before {
	content: "\e0eb";
}
.mz-button-check:before {
	content: "\e0ec";
}
.mz-button-add:before {
	content: "\e0ed";
}
.mz-brush:before {
	content: "\e0ee";
}
.mz-browser-sizes:before {
	content: "\e0ef";
}
.mz-box-remove:before {
	content: "\e0f0";
}
.mz-box-close:before {
	content: "\e0f1";
}
.mz-box-blank:before {
	content: "\e0f2";
}
.mz-box-add:before {
	content: "\e0f3";
}
.mz-bolt:before {
	content: "\e0f4";
}
.mz-block-menu:before {
	content: "\e0f5";
}
.mz-blank:before {
	content: "\e0f6";
}
.mz-bezier:before {
	content: "\e0f7";
}
.mz-bars:before {
	content: "\e0f8";
}
.mz-ban-circle:before {
	content: "\e0f9";
}
.mz-bag:before {
	content: "\e0fa";
}
.mz-backward:before {
	content: "\e0fb";
}
.mz-axis-rules:before {
	content: "\e0fc";
}
.mz-atom:before {
	content: "\e0fd";
}
.mz-arrow-up:before {
	content: "\e0fe";
}
.mz-arrow-up-thin:before {
	content: "\e0ff";
}
.mz-arrow-up-light:before {
	content: "\e100";
}
.mz-arrow-up-bold:before {
	content: "\e101";
}
.mz-arrow-up-bold-round:before {
	content: "\e102";
}
.mz-arrow-up-big:before {
	content: "\e103";
}
.mz-arrow-right:before {
	content: "\e104";
}
.mz-arrow-right-thin:before {
	content: "\e105";
}
.mz-arrow-right-light:before {
	content: "\e106";
}
.mz-arrow-right-bold:before {
	content: "\e107";
}
.mz-arrow-right-bold-round:before {
	content: "\e108";
}
.mz-arrow-right-big:before {
	content: "\e109";
}
.mz-arrow-oblique-expand:before {
	content: "\e10a";
}
.mz-arrow-oblique-expand-directions:before {
	content: "\e10b";
}
.mz-arrow-oblique-contract:before {
	content: "\e10c";
}
.mz-arrow-oblique-contract-directions:before {
	content: "\e10d";
}
.mz-arrow-multi-line-up:before {
	content: "\e10e";
}
.mz-arrow-multi-line-right:before {
	content: "\e10f";
}
.mz-arrow-multi-line-left:before {
	content: "\e110";
}
.mz-arrow-multi-line-down:before {
	content: "\e111";
}
.mz-arrow-left:before {
	content: "\e112";
}
.mz-arrow-left-thin:before {
	content: "\e113";
}
.mz-arrow-left-light:before {
	content: "\e114";
}
.mz-arrow-left-bold:before {
	content: "\e115";
}
.mz-arrow-left-bold-round:before {
	content: "\e116";
}
.mz-arrow-left-big:before {
	content: "\e117";
}
.mz-arrow-fill-up:before {
	content: "\e118";
}
.mz-arrow-fill-right:before {
	content: "\e119";
}
.mz-arrow-fill-left:before {
	content: "\e11a";
}
.mz-arrow-fill-down:before {
	content: "\e11b";
}
.mz-arrow-down:before {
	content: "\e11c";
}
.mz-arrow-down-thin:before {
	content: "\e11d";
}
.mz-arrow-down-light:before {
	content: "\e11e";
}
.mz-arrow-down-bold:before {
	content: "\e11f";
}
.mz-arrow-down-bold-round:before {
	content: "\e120";
}
.mz-arrow-down-big:before {
	content: "\e121";
}
.mz-arrow-cycling:before {
	content: "\e122";
}
.mz-arrow-cycle:before {
	content: "\e123";
}
.mz-arrow-curve-right:before {
	content: "\e124";
}
.mz-arrow-curve-recycle:before {
	content: "\e125";
}
.mz-arrow-curve-left:before {
	content: "\e126";
}
.mz-animal-footprint:before {
	content: "\e127";
}
.mz-alarm-clock:before {
	content: "\e128";
}
.mz-air-plane:before {
	content: "\e129";
}
.mz-adjust:before {
	content: "\e12a";
}
.mz-cube:before {
	content: "\e12b";
}