@meteocons-font-path: '@{font-path}meteocons';

@font-face {
	font-family: 'MeteoconsRegular';
	src:url('@{meteocons-font-path}.eot');
	src:url('@{meteocons-font-path}.eot?#iefix') format('embedded-opentype'),
		url('@{meteocons-font-path}.ttf') format('truetype'),
		url('@{meteocons-font-path}.woff') format('woff'),
		url('@{meteocons-font-path}.svg#MeteoconsRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="mt-"], [class*=" mt-"] {
	font-family: 'MeteoconsRegular';
}

.mt-sunrise:before {
	content: 'A';
}
.mt-sun:before {
	content: 'B';
}
.mt-moon:before {
	content: 'C';
}
.mt-eclipse:before {
	content: 'D';
}
.mt-fog-moon:before {
	content: 'E';
}
.mt-wind:before {
	content: 'F';
}
.mt-flake:before {
	content: 'G';
}
.mt-cloud-sun:before {
	content: 'H';
}
.mt-cloud-moon:before {
	content: 'I';
}
.mt-sun-fog:before {
	content: 'J';
}
.mt-moon-fog:before {
	content: 'K';
}
.mt-cloud-fog:before {
	content: 'L';
}
.mt-fog:before {
	content: 'M';
}
.mt-cloud:before {
	content: 'N';
}
.mt-cloud-lightning:before {
	content: 'O';
}
.mt-lightning-cloud:before {
	content: 'P';
}
.mt-rain-cloud:before {
	content: 'Q';
}
.mt-rains-cloud:before {
	content: 'R';
}
.mt-wind-cloud:before {
	content: 'S';
}
.mt-wind-rain-cloud:before {
	content: 'T';
}
.mt-cloud-flake:before {
	content: 'U';
}
.mt-flake-cloud:before {
	content: 'V';
}
.mt-flakes-cloud:before {
	content: 'W';
}
.mt-snow-cloud:before {
	content: 'X';
}
.mt-lg-clouds:before {
	content: 'Y';
}
.mt-lg-lightning-cloud:before {
	content: 'Z';
}
.mt-lg-lightning-clouds:before {
	content: '0';
}
.mt-dk-sun:before {
	content: '1';
}
.mt-dk-moon:before {
	content: '2';
}
.mt-dk-sun-cloud:before {
	content: '3';
}
.mt-dk-moon-cloud:before {
	content: '4';
}
.mt-dk-cloud:before {
	content: '5';
}
.mt-dk-lightning-cloud:before {
	content: '6';
}
.mt-dk-rain-cloud:before {
	content: '7';
}
.mt-dk-rains-cloud:before {
	content: '8';
}
.mt-dk-wind-cloud:before {
	content: '9';
}
.mt-dk-wind-rain-cloud:before {
	content: '!';
}
.mt-dk-flake-cloud:before {
	content: '"';
}
.mt-dk-flakes-cloud:before {
	content: '#';
}
.mt-dk-snow-cloud:before {
	content: '$';
}
.mt-dklg-cloud:before {
	content: '%';
}
.mt-dklg-lightning-cloud:before {
	content: '&';
}
.mt-thermometer:before {
	content: "'";
}
.mt-compass:before {
	content: '(';
}
.mt-na:before {
	content: ')';
}
.mt-celcius:before {
	content: '*';
}
.mt-farenheight:before {
	content: '+';
}