/* --------------------------------------------------------------------- */
/* ICONIC */

@open-iconic-font-path: '@{font-path}open-iconic';

@font-face {
	font-family: 'Icons';
	src:url('@{open-iconic-font-path}.eot');
	src:url('@{open-iconic-font-path}.eot?#iefix') format('embedded-opentype'),
		url('@{open-iconic-font-path}.ttf') format('truetype'),
		url('@{open-iconic-font-path}.woff') format('woff'),
		url('@{open-iconic-font-path}.svg#Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="oi-"], [class*=" oi-"] {
	font-family: 'Icons';
}

.oi-account-login:before {
	content: '\e000';
}

.oi-account-logout:before {
	content: '\e001';
}

.oi-action-redo:before {
	content: '\e002';
}

.oi-action-undo:before {
	content: '\e003';
}

.oi-align-center:before {
	content: '\e004';
}

.oi-align-left:before {
	content: '\e005';
}

.oi-align-right:before {
	content: '\e006';
}

.oi-aperture:before {
	content: '\e007';
}

.oi-arrow-bottom:before {
	content: '\e008';
}

.oi-arrow-circle-bottom:before {
	content: '\e009';
}

.oi-arrow-circle-left:before {
	content: '\e00a';
}

.oi-arrow-circle-right:before {
	content: '\e00b';
}

.oi-arrow-circle-top:before {
	content: '\e00c';
}

.oi-arrow-left:before {
	content: '\e00d';
}

.oi-arrow-right:before {
	content: '\e00e';
}

.oi-arrow-thick-bottom:before {
	content: '\e00f';
}

.oi-arrow-thick-left:before {
	content: '\e010';
}

.oi-arrow-thick-right:before {
	content: '\e011';
}

.oi-arrow-thick-top:before {
	content: '\e012';
}

.oi-arrow-top:before {
	content: '\e013';
}

.oi-audio-spectrum:before {
	content: '\e014';
}

.oi-badge:before {
	content: '\e015';
}

.oi-ban:before {
	content: '\e016';
}

.oi-bar-chart:before {
	content: '\e017';
}

.oi-basket:before {
	content: '\e018';
}

.oi-battery-empty:before {
	content: '\e019';
}

.oi-battery-full:before {
	content: '\e01a';
}

.oi-beaker:before {
	content: '\e01b';
}

.oi-bell:before {
	content: '\e01c';
}

.oi-bluetooth:before {
	content: '\e01d';
}

.oi-bold:before {
	content: '\e01e';
}

.oi-bolt:before {
	content: '\e01f';
}

.oi-book:before {
	content: '\e020';
}

.oi-bookmark:before {
	content: '\e021';
}

.oi-box:before {
	content: '\e022';
}

.oi-briefcase:before {
	content: '\e023';
}

.oi-british-pound:before {
	content: '\e024';
}

.oi-browser:before {
	content: '\e025';
}

.oi-brush:before {
	content: '\e026';
}

.oi-bug:before {
	content: '\e027';
}

.oi-bullhorn:before {
	content: '\e028';
}

.oi-calculator:before {
	content: '\e029';
}

.oi-calendar:before {
	content: '\e02a';
}

.oi-camera-slr:before {
	content: '\e02b';
}

.oi-caret-bottom:before {
	content: '\e02c';
}

.oi-caret-left:before {
	content: '\e02d';
}

.oi-caret-right:before {
	content: '\e02e';
}

.oi-caret-top:before {
	content: '\e02f';
}

.oi-cart:before {
	content: '\e030';
}

.oi-chat:before {
	content: '\e031';
}

.oi-check:before {
	content: '\e032';
}

.oi-chevron-bottom:before {
	content: '\e033';
}

.oi-chevron-left:before {
	content: '\e034';
}

.oi-chevron-right:before {
	content: '\e035';
}

.oi-chevron-top:before {
	content: '\e036';
}

.oi-circle-check:before {
	content: '\e037';
}

.oi-circle-x:before {
	content: '\e038';
}

.oi-clock:before {
	content: '\e039';
}

.oi-cloud-download:before {
	content: '\e03a';
}

.oi-cloud-upload:before {
	content: '\e03b';
}

.oi-cloud:before {
	content: '\e03c';
}

.oi-cloudy:before {
	content: '\e03d';
}

.oi-code:before {
	content: '\e03e';
}

.oi-cog:before {
	content: '\e03f';
}

.oi-collapse-down:before {
	content: '\e040';
}

.oi-collapse-left:before {
	content: '\e041';
}

.oi-collapse-right:before {
	content: '\e042';
}

.oi-collapse-up:before {
	content: '\e043';
}

.oi-comment-square:before {
	content: '\e044';
}

.oi-compass:before {
	content: '\e045';
}

.oi-contrast:before {
	content: '\e046';
}

.oi-copywriting:before {
	content: '\e047';
}

.oi-credit-card:before {
	content: '\e048';
}

.oi-crop:before {
	content: '\e049';
}

.oi-dashboard:before {
	content: '\e04a';
}

.oi-data-transfer-download:before {
	content: '\e04b';
}

.oi-data-transfer-upload:before {
	content: '\e04c';
}

.oi-delete:before {
	content: '\e04d';
}

.oi-dial:before {
	content: '\e04e';
}

.oi-document:before {
	content: '\e04f';
}

.oi-dollar:before {
	content: '\e050';
}

.oi-double-quote-sans-left:before {
	content: '\e051';
}

.oi-double-quote-sans-right:before {
	content: '\e052';
}

.oi-double-quote-serif-left:before {
	content: '\e053';
}

.oi-double-quote-serif-right:before {
	content: '\e054';
}

.oi-droplet:before {
	content: '\e055';
}

.oi-eject:before {
	content: '\e056';
}

.oi-elevator:before {
	content: '\e057';
}

.oi-ellipses:before {
	content: '\e058';
}

.oi-envelope-closed:before {
	content: '\e059';
}

.oi-envelope-open:before {
	content: '\e05a';
}

.oi-euro:before {
	content: '\e05b';
}

.oi-excerpt:before {
	content: '\e05c';
}

.oi-expand-down:before {
	content: '\e05d';
}

.oi-expand-left:before {
	content: '\e05e';
}

.oi-expand-right:before {
	content: '\e05f';
}

.oi-expand-up:before {
	content: '\e060';
}

.oi-external-link:before {
	content: '\e061';
}

.oi-eye:before {
	content: '\e062';
}

.oi-eyedropper:before {
	content: '\e063';
}

.oi-file:before {
	content: '\e064';
}

.oi-fire:before {
	content: '\e065';
}

.oi-flag:before {
	content: '\e066';
}

.oi-flash:before {
	content: '\e067';
}

.oi-folder:before {
	content: '\e068';
}

.oi-fork:before {
	content: '\e069';
}

.oi-fullscreen-enter:before {
	content: '\e06a';
}

.oi-fullscreen-exit:before {
	content: '\e06b';
}

.oi-globe:before {
	content: '\e06c';
}

.oi-graph:before {
	content: '\e06d';
}

.oi-grid-four-up:before {
	content: '\e06e';
}

.oi-grid-three-up:before {
	content: '\e06f';
}

.oi-grid-two-up:before {
	content: '\e070';
}

.oi-hard-drive:before {
	content: '\e071';
}

.oi-headphones:before {
	content: '\e072';
}

.oi-heart:before {
	content: '\e073';
}

.oi-home:before {
	content: '\e074';
}

.oi-image:before {
	content: '\e075';
}

.oi-inbox:before {
	content: '\e076';
}

.oi-infinity:before {
	content: '\e077';
}

.oi-info:before {
	content: '\e078';
}

.oi-italic:before {
	content: '\e079';
}

.oi-justify-center:before {
	content: '\e07a';
}

.oi-justify-left:before {
	content: '\e07b';
}

.oi-justify-right:before {
	content: '\e07c';
}

.oi-key:before {
	content: '\e07d';
}

.oi-laptop:before {
	content: '\e07e';
}

.oi-layers:before {
	content: '\e07f';
}

.oi-lightbulb:before {
	content: '\e080';
}

.oi-link-broken:before {
	content: '\e081';
}

.oi-link-intact:before {
	content: '\e082';
}

.oi-list-rich:before {
	content: '\e083';
}

.oi-list:before {
	content: '\e084';
}

.oi-location:before {
	content: '\e085';
}

.oi-lock-locked:before {
	content: '\e086';
}

.oi-lock-unlocked:before {
	content: '\e087';
}

.oi-loop-circular:before {
	content: '\e088';
}

.oi-loop-square:before {
	content: '\e089';
}

.oi-loop:before {
	content: '\e08a';
}

.oi-magnifying-glass:before {
	content: '\e08b';
}

.oi-map-marker:before {
	content: '\e08c';
}

.oi-map:before {
	content: '\e08d';
}

.oi-media-pause:before {
	content: '\e08e';
}

.oi-media-play:before {
	content: '\e08f';
}

.oi-media-record:before {
	content: '\e090';
}

.oi-media-skip-backward:before {
	content: '\e091';
}

.oi-media-skip-forward:before {
	content: '\e092';
}

.oi-media-step-backward:before {
	content: '\e093';
}

.oi-media-step-forward:before {
	content: '\e094';
}

.oi-media-stop:before {
	content: '\e095';
}

.oi-medical-cross:before {
	content: '\e096';
}

.oi-menu:before {
	content: '\e097';
}

.oi-microphone:before {
	content: '\e098';
}

.oi-minus:before {
	content: '\e099';
}

.oi-monitor:before {
	content: '\e09a';
}

.oi-moon:before {
	content: '\e09b';
}

.oi-move:before {
	content: '\e09c';
}

.oi-musical-note:before {
	content: '\e09d';
}

.oi-paperclip:before {
	content: '\e09e';
}

.oi-pencil:before {
	content: '\e09f';
}

.oi-people:before {
	content: '\e0a0';
}

.oi-person:before {
	content: '\e0a1';
}

.oi-phone:before {
	content: '\e0a2';
}

.oi-pie-chart:before {
	content: '\e0a3';
}

.oi-pin:before {
	content: '\e0a4';
}

.oi-play-circle:before {
	content: '\e0a5';
}

.oi-plus:before {
	content: '\e0a6';
}

.oi-power-standby:before {
	content: '\e0a7';
}

.oi-print:before {
	content: '\e0a8';
}

.oi-project:before {
	content: '\e0a9';
}

.oi-pulse:before {
	content: '\e0aa';
}

.oi-puzzle-piece:before {
	content: '\e0ab';
}

.oi-question-mark:before {
	content: '\e0ac';
}

.oi-rain:before {
	content: '\e0ad';
}

.oi-random:before {
	content: '\e0ae';
}

.oi-reload:before {
	content: '\e0af';
}

.oi-resize-both:before {
	content: '\e0b0';
}

.oi-resize-height:before {
	content: '\e0b1';
}

.oi-resize-width:before {
	content: '\e0b2';
}

.oi-rss-alt:before {
	content: '\e0b3';
}

.oi-rss:before {
	content: '\e0b4';
}

.oi-script:before {
	content: '\e0b5';
}

.oi-share-boxed:before {
	content: '\e0b6';
}

.oi-share:before {
	content: '\e0b7';
}

.oi-shield:before {
	content: '\e0b8';
}

.oi-signal:before {
	content: '\e0b9';
}

.oi-signpost:before {
	content: '\e0ba';
}

.oi-sort-ascending:before {
	content: '\e0bb';
}

.oi-sort-descending:before {
	content: '\e0bc';
}

.oi-spreadsheet:before {
	content: '\e0bd';
}

.oi-star:before {
	content: '\e0be';
}

.oi-sun:before {
	content: '\e0bf';
}

.oi-tablet:before {
	content: '\e0c0';
}

.oi-tag:before {
	content: '\e0c1';
}

.oi-tags:before {
	content: '\e0c2';
}

.oi-target:before {
	content: '\e0c3';
}

.oi-task:before {
	content: '\e0c4';
}

.oi-terminal:before {
	content: '\e0c5';
}

.oi-text:before {
	content: '\e0c6';
}

.oi-thumb-down:before {
	content: '\e0c7';
}

.oi-thumb-up:before {
	content: '\e0c8';
}

.oi-timer:before {
	content: '\e0c9';
}

.oi-transfer:before {
	content: '\e0ca';
}

.oi-trash:before {
	content: '\e0cb';
}

.oi-vertical-align-bottom:before {
	content: '\e0cc';
}

.oi-vertical-align-center:before {
	content: '\e0cd';
}

.oi-vertical-align-top:before {
	content: '\e0ce';
}

.oi-video:before {
	content: '\e0cf';
}

.oi-volume-high:before {
	content: '\e0d0';
}

.oi-volume-low:before {
	content: '\e0d1';
}

.oi-volume-off:before {
	content: '\e0d2';
}

.oi-warning:before {
	content: '\e0d3';
}

.oi-wifi:before {
	content: '\e0d4';
}

.oi-wrench:before {
	content: '\e0d5';
}

.oi-x:before {
	content: '\e0d6';
}

.oi-yen:before {
	content: '\e0d7';
}

.oi-zoom-in:before {
	content: '\e0d8';
}

.oi-zoom-out:before {
	content: '\e0d9';
}