/* --------------------------------------------------------------------- */
/* TYPICONS */

@typicons-font-path: '@{font-path}typicons';

@font-face {
	font-family: 'typicons';
	src:url('@{typicons-font-path}.eot');
	src:url('@{typicons-font-path}.eot?#iefix') format('embedded-opentype'),
		url('@{typicons-font-path}.ttf') format('truetype'),
		url('@{typicons-font-path}.woff') format('woff'),
		url('@{typicons-font-path}.svg#typicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ty-"], [class*=" ty-"] {
	font-family: 'typicons';
}

.ty-adjust-brightness:before {
	content: '\e000';
}

.ty-adjust-contrast:before {
	content: '\e001';
}

.ty-anchor-outline:before {
	content: '\e002';
}

.ty-anchor:before {
	content: '\e003';
}

.ty-archive:before {
	content: '\e004';
}

.ty-arrow-back-outline:before {
	content: '\e005';
}

.ty-arrow-back:before {
	content: '\e006';
}

.ty-arrow-down-outline:before {
	content: '\e007';
}

.ty-arrow-down-thick:before {
	content: '\e008';
}

.ty-arrow-down:before {
	content: '\e009';
}

.ty-arrow-forward-outline:before {
	content: '\e00a';
}

.ty-arrow-forward:before {
	content: '\e00b';
}

.ty-arrow-left-outline:before {
	content: '\e00c';
}

.ty-arrow-left-thick:before {
	content: '\e00d';
}

.ty-arrow-left:before {
	content: '\e00e';
}

.ty-arrow-loop-outline:before {
	content: '\e00f';
}

.ty-arrow-loop:before {
	content: '\e010';
}

.ty-arrow-maximise-outline:before {
	content: '\e011';
}

.ty-arrow-maximise:before {
	content: '\e012';
}

.ty-arrow-minimise-outline:before {
	content: '\e013';
}

.ty-arrow-minimise:before {
	content: '\e014';
}

.ty-arrow-move-outline:before {
	content: '\e015';
}

.ty-arrow-move:before {
	content: '\e016';
}

.ty-arrow-repeat-outline:before {
	content: '\e017';
}

.ty-arrow-repeat:before {
	content: '\e018';
}

.ty-arrow-right-outline:before {
	content: '\e019';
}

.ty-arrow-right-thick:before {
	content: '\e01a';
}

.ty-arrow-right:before {
	content: '\e01b';
}

.ty-arrow-shuffle:before {
	content: '\e01c';
}

.ty-arrow-sorted-down:before {
	content: '\e01d';
}

.ty-arrow-sorted-up:before {
	content: '\e01e';
}

.ty-arrow-sync-outline:before {
	content: '\e01f';
}

.ty-arrow-sync:before {
	content: '\e020';
}

.ty-arrow-unsorted:before {
	content: '\e021';
}

.ty-arrow-up-outline:before {
	content: '\e022';
}

.ty-arrow-up-thick:before {
	content: '\e023';
}

.ty-arrow-up:before {
	content: '\e024';
}

.ty-at:before {
	content: '\e025';
}

.ty-attachment-outline:before {
	content: '\e026';
}

.ty-attachment:before {
	content: '\e027';
}

.ty-backspace-outline:before {
	content: '\e028';
}

.ty-backspace:before {
	content: '\e029';
}

.ty-battery-charge:before {
	content: '\e02a';
}

.ty-battery-full:before {
	content: '\e02b';
}

.ty-battery-high:before {
	content: '\e02c';
}

.ty-battery-low:before {
	content: '\e02d';
}

.ty-battery-mid:before {
	content: '\e02e';
}

.ty-beaker:before {
	content: '\e02f';
}

.ty-beer:before {
	content: '\e030';
}

.ty-bell:before {
	content: '\e031';
}

.ty-book:before {
	content: '\e032';
}

.ty-bookmark:before {
	content: '\e033';
}

.ty-briefcase:before {
	content: '\e034';
}

.ty-brush:before {
	content: '\e035';
}

.ty-business-card:before {
	content: '\e036';
}

.ty-calculator:before {
	content: '\e037';
}

.ty-calender-outline:before {
	content: '\e038';
}

.ty-calender:before {
	content: '\e039';
}

.ty-camera-outline:before {
	content: '\e03a';
}

.ty-camera:before {
	content: '\e03b';
}

.ty-cancel-outline:before {
	content: '\e03c';
}

.ty-cancel:before {
	content: '\e03d';
}

.ty-chart-area-outline:before {
	content: '\e03e';
}

.ty-chart-area:before {
	content: '\e03f';
}

.ty-chart-bar-outline:before {
	content: '\e040';
}

.ty-chart-bar:before {
	content: '\e041';
}

.ty-chart-line-outline:before {
	content: '\e042';
}

.ty-chart-line:before {
	content: '\e043';
}

.ty-chart-pie-outline:before {
	content: '\e044';
}

.ty-chart-pie:before {
	content: '\e045';
}

.ty-chevron-left-outline:before {
	content: '\e046';
}

.ty-chevron-left:before {
	content: '\e047';
}

.ty-chevron-right-outline:before {
	content: '\e048';
}

.ty-chevron-right:before {
	content: '\e049';
}

.ty-clipboard:before {
	content: '\e04a';
}

.ty-cloud-storage:before {
	content: '\e04b';
}

.ty-code-outline:before {
	content: '\e04c';
}

.ty-code:before {
	content: '\e04d';
}

.ty-coffee:before {
	content: '\e04e';
}

.ty-cog-outline:before {
	content: '\e04f';
}

.ty-cog:before {
	content: '\e050';
}

.ty-compass:before {
	content: '\e051';
}

.ty-contacts:before {
	content: '\e052';
}

.ty-credit-card:before {
	content: '\e053';
}

.ty-cross:before {
	content: '\e054';
}

.ty-css3:before {
	content: '\e055';
}

.ty-database:before {
	content: '\e056';
}

.ty-delete-outline:before {
	content: '\e057';
}

.ty-delete:before {
	content: '\e058';
}

.ty-device-desktop:before {
	content: '\e059';
}

.ty-device-laptop:before {
	content: '\e05a';
}

.ty-device-phone:before {
	content: '\e05b';
}

.ty-device-tablet:before {
	content: '\e05c';
}

.ty-directions:before {
	content: '\e05d';
}

.ty-divide-outline:before {
	content: '\e05e';
}

.ty-divide:before {
	content: '\e05f';
}

.ty-document-add:before {
	content: '\e060';
}

.ty-document-delete:before {
	content: '\e061';
}

.ty-document-text:before {
	content: '\e062';
}

.ty-document:before {
	content: '\e063';
}

.ty-download-outline:before {
	content: '\e064';
}

.ty-download:before {
	content: '\e065';
}

.ty-dropbox:before {
	content: '\e066';
}

.ty-edit:before {
	content: '\e067';
}

.ty-eject-outline:before {
	content: '\e068';
}

.ty-eject:before {
	content: '\e069';
}

.ty-equals-outline:before {
	content: '\e06a';
}

.ty-equals:before {
	content: '\e06b';
}

.ty-export-outline:before {
	content: '\e06c';
}

.ty-export:before {
	content: '\e06d';
}

.ty-eye-outline:before {
	content: '\e06e';
}

.ty-eye:before {
	content: '\e06f';
}

.ty-feather:before {
	content: '\e070';
}

.ty-film:before {
	content: '\e071';
}

.ty-filter:before {
	content: '\e072';
}

.ty-flag-outline:before {
	content: '\e073';
}

.ty-flag:before {
	content: '\e074';
}

.ty-flash-outline:before {
	content: '\e075';
}

.ty-flash:before {
	content: '\e076';
}

.ty-flow-children:before {
	content: '\e077';
}

.ty-flow-merge:before {
	content: '\e078';
}

.ty-flow-parallel:before {
	content: '\e079';
}

.ty-flow-switch:before {
	content: '\e07a';
}

.ty-folder-add:before {
	content: '\e07b';
}

.ty-folder-delete:before {
	content: '\e07c';
}

.ty-folder-open:before {
	content: '\e07d';
}

.ty-folder:before {
	content: '\e07e';
}

.ty-gift:before {
	content: '\e07f';
}

.ty-globe-outline:before {
	content: '\e080';
}

.ty-globe:before {
	content: '\e081';
}

.ty-group-outline:before {
	content: '\e082';
}

.ty-group:before {
	content: '\e083';
}

.ty-headphones:before {
	content: '\e084';
}

.ty-heart-full-outline:before {
	content: '\e085';
}

.ty-heart-half-outline:before {
	content: '\e086';
}

.ty-heart-outline:before {
	content: '\e087';
}

.ty-heart:before {
	content: '\e088';
}

.ty-home-outline:before {
	content: '\e089';
}

.ty-home:before {
	content: '\e08a';
}

.ty-html5:before {
	content: '\e08b';
}

.ty-image-outline:before {
	content: '\e08c';
}

.ty-image:before {
	content: '\e08d';
}

.ty-infinity-outline:before {
	content: '\e08e';
}

.ty-infinity:before {
	content: '\e08f';
}

.ty-info-large-outline:before {
	content: '\e090';
}

.ty-info-large:before {
	content: '\e091';
}

.ty-info-outline:before {
	content: '\e092';
}

.ty-info:before {
	content: '\e093';
}

.ty-input-checked-outline:before {
	content: '\e094';
}

.ty-input-checked:before {
	content: '\e095';
}

.ty-key-outline:before {
	content: '\e096';
}

.ty-key:before {
	content: '\e097';
}

.ty-keyboard:before {
	content: '\e098';
}

.ty-leaf:before {
	content: '\e099';
}

.ty-lightbulb:before {
	content: '\e09a';
}

.ty-link-outline:before {
	content: '\e09b';
}

.ty-link:before {
	content: '\e09c';
}

.ty-location-arrow-outline:before {
	content: '\e09d';
}

.ty-location-arrow:before {
	content: '\e09e';
}

.ty-location-outline:before {
	content: '\e09f';
}

.ty-location:before {
	content: '\e0a0';
}

.ty-lock-closed-outline:before {
	content: '\e0a1';
}

.ty-lock-closed:before {
	content: '\e0a2';
}

.ty-lock-open-outline:before {
	content: '\e0a3';
}

.ty-lock-open:before {
	content: '\e0a4';
}

.ty-mail:before {
	content: '\e0a5';
}

.ty-map:before {
	content: '\e0a6';
}

.ty-media-eject-outline:before {
	content: '\e0a7';
}

.ty-media-eject:before {
	content: '\e0a8';
}

.ty-media-fast-forward-outline:before {
	content: '\e0a9';
}

.ty-media-fast-forward:before {
	content: '\e0aa';
}

.ty-media-pause-outline:before {
	content: '\e0ab';
}

.ty-media-pause:before {
	content: '\e0ac';
}

.ty-media-play-outline:before {
	content: '\e0ad';
}

.ty-media-play-reverse-outline:before {
	content: '\e0ae';
}

.ty-media-play-reverse:before {
	content: '\e0af';
}

.ty-media-play:before {
	content: '\e0b0';
}

.ty-media-record-outline:before {
	content: '\e0b1';
}

.ty-media-record:before {
	content: '\e0b2';
}

.ty-media-rewind-outline:before {
	content: '\e0b3';
}

.ty-media-rewind:before {
	content: '\e0b4';
}

.ty-media-stop-outline:before {
	content: '\e0b5';
}

.ty-media-stop:before {
	content: '\e0b6';
}

.ty-message-typing:before {
	content: '\e0b7';
}

.ty-message:before {
	content: '\e0b8';
}

.ty-messages:before {
	content: '\e0b9';
}

.ty-microphone-outline:before {
	content: '\e0ba';
}

.ty-microphone:before {
	content: '\e0bb';
}

.ty-minus-outline:before {
	content: '\e0bc';
}

.ty-minus:before {
	content: '\e0bd';
}

.ty-mortar-board:before {
	content: '\e0be';
}

.ty-news:before {
	content: '\e0bf';
}

.ty-notes-outline:before {
	content: '\e0c0';
}

.ty-notes:before {
	content: '\e0c1';
}

.ty-pen:before {
	content: '\e0c2';
}

.ty-pencil:before {
	content: '\e0c3';
}

.ty-phone-outline:before {
	content: '\e0c4';
}

.ty-phone:before {
	content: '\e0c5';
}

.ty-pi-outline:before {
	content: '\e0c6';
}

.ty-pi:before {
	content: '\e0c7';
}

.ty-pin-outline:before {
	content: '\e0c8';
}

.ty-pin:before {
	content: '\e0c9';
}

.ty-pipette:before {
	content: '\e0ca';
}

.ty-plane-outline:before {
	content: '\e0cb';
}

.ty-plane:before {
	content: '\e0cc';
}

.ty-plug:before {
	content: '\e0cd';
}

.ty-plus-outline:before {
	content: '\e0ce';
}

.ty-plus:before {
	content: '\e0cf';
}

.ty-point-of-interest-outline:before {
	content: '\e0d0';
}

.ty-point-of-interest:before {
	content: '\e0d1';
}

.ty-power-outline:before {
	content: '\e0d2';
}

.ty-power:before {
	content: '\e0d3';
}

.ty-printer:before {
	content: '\e0d4';
}

.ty-puzzle-outline:before {
	content: '\e0d5';
}

.ty-puzzle:before {
	content: '\e0d6';
}

.ty-radar-outline:before {
	content: '\e0d7';
}

.ty-radar:before {
	content: '\e0d8';
}

.ty-refresh-outline:before {
	content: '\e0d9';
}

.ty-refresh:before {
	content: '\e0da';
}

.ty-rss-outline:before {
	content: '\e0db';
}

.ty-rss:before {
	content: '\e0dc';
}

.ty-scissors-outline:before {
	content: '\e0dd';
}

.ty-scissors:before {
	content: '\e0de';
}

.ty-shopping-bag:before {
	content: '\e0df';
}

.ty-shopping-cart:before {
	content: '\e0e0';
}

.ty-social-at-circular:before {
	content: '\e0e1';
}

.ty-social-dribbble-circular:before {
	content: '\e0e2';
}

.ty-social-dribbble:before {
	content: '\e0e3';
}

.ty-social-facebook-circular:before {
	content: '\e0e4';
}

.ty-social-facebook:before {
	content: '\e0e5';
}

.ty-social-flickr-circular:before {
	content: '\e0e6';
}

.ty-social-flickr:before {
	content: '\e0e7';
}

.ty-social-github-circular:before {
	content: '\e0e8';
}

.ty-social-github:before {
	content: '\e0e9';
}

.ty-social-google-plus-circular:before {
	content: '\e0ea';
}

.ty-social-google-plus:before {
	content: '\e0eb';
}

.ty-social-instagram-circular:before {
	content: '\e0ec';
}

.ty-social-instagram:before {
	content: '\e0ed';
}

.ty-social-last-fm-circular:before {
	content: '\e0ee';
}

.ty-social-last-fm:before {
	content: '\e0ef';
}

.ty-social-linkedin-circular:before {
	content: '\e0f0';
}

.ty-social-linkedin:before {
	content: '\e0f1';
}

.ty-social-pinterest-circular:before {
	content: '\e0f2';
}

.ty-social-pinterest:before {
	content: '\e0f3';
}

.ty-social-skype-outline:before {
	content: '\e0f4';
}

.ty-social-skype:before {
	content: '\e0f5';
}

.ty-social-tumbler-circular:before {
	content: '\e0f6';
}

.ty-social-tumbler:before {
	content: '\e0f7';
}

.ty-social-twitter-circular:before {
	content: '\e0f8';
}

.ty-social-twitter:before {
	content: '\e0f9';
}

.ty-social-vimeo-circular:before {
	content: '\e0fa';
}

.ty-social-vimeo:before {
	content: '\e0fb';
}

.ty-social-youtube-circular:before {
	content: '\e0fc';
}

.ty-social-youtube:before {
	content: '\e0fd';
}

.ty-sort-alphabetically-outline:before {
	content: '\e0fe';
}

.ty-sort-alphabetically:before {
	content: '\e0ff';
}

.ty-sort-numerically-outline:before {
	content: '\e100';
}

.ty-sort-numerically:before {
	content: '\e101';
}

.ty-spanner-outline:before {
	content: '\e102';
}

.ty-spanner:before {
	content: '\e103';
}

.ty-spiral:before {
	content: '\e104';
}

.ty-star-full-outline:before {
	content: '\e105';
}

.ty-star-half-outline:before {
	content: '\e106';
}

.ty-star-half:before {
	content: '\e107';
}

.ty-star-outline:before {
	content: '\e108';
}

.ty-star:before {
	content: '\e109';
}

.ty-starburst-outline:before {
	content: '\e10a';
}

.ty-starburst:before {
	content: '\e10b';
}

.ty-stopwatch:before {
	content: '\e10c';
}

.ty-support:before {
	content: '\e10d';
}

.ty-tabs-outline:before {
	content: '\e10e';
}

.ty-tag:before {
	content: '\e10f';
}

.ty-tags:before {
	content: '\e110';
}

.ty-th-large-outline:before {
	content: '\e111';
}

.ty-th-large:before {
	content: '\e112';
}

.ty-th-list-outline:before {
	content: '\e113';
}

.ty-th-list:before {
	content: '\e114';
}

.ty-th-menu-outline:before {
	content: '\e115';
}

.ty-th-menu:before {
	content: '\e116';
}

.ty-th-small-outline:before {
	content: '\e117';
}

.ty-th-small:before {
	content: '\e118';
}

.ty-thermometer:before {
	content: '\e119';
}

.ty-thumbs-down:before {
	content: '\e11a';
}

.ty-thumbs-ok:before {
	content: '\e11b';
}

.ty-thumbs-up:before {
	content: '\e11c';
}

.ty-tick-outline:before {
	content: '\e11d';
}

.ty-tick:before {
	content: '\e11e';
}

.ty-ticket:before {
	content: '\e11f';
}

.ty-time:before {
	content: '\e120';
}

.ty-times-outline:before {
	content: '\e121';
}

.ty-times:before {
	content: '\e122';
}

.ty-trash:before {
	content: '\e123';
}

.ty-tree:before {
	content: '\e124';
}

.ty-upload-outline:before {
	content: '\e125';
}

.ty-upload:before {
	content: '\e126';
}

.ty-user-add-outline:before {
	content: '\e127';
}

.ty-user-add:before {
	content: '\e128';
}

.ty-user-delete-outline:before {
	content: '\e129';
}

.ty-user-delete:before {
	content: '\e12a';
}

.ty-user-outline:before {
	content: '\e12b';
}

.ty-user:before {
	content: '\e12c';
}

.ty-vendor-android:before {
	content: '\e12d';
}

.ty-vendor-apple:before {
	content: '\e12e';
}

.ty-vendor-microsoft:before {
	content: '\e12f';
}

.ty-video-outline:before {
	content: '\e130';
}

.ty-video:before {
	content: '\e131';
}

.ty-volume-down:before {
	content: '\e132';
}

.ty-volume-mute:before {
	content: '\e133';
}

.ty-volume-up:before {
	content: '\e134';
}

.ty-volume:before {
	content: '\e135';
}

.ty-warning-outline:before {
	content: '\e136';
}

.ty-warning:before {
	content: '\e137';
}

.ty-watch:before {
	content: '\e138';
}

.ty-waves-outline:before {
	content: '\e139';
}

.ty-waves:before {
	content: '\e13a';
}

.ty-weather-cloudy:before {
	content: '\e13b';
}

.ty-weather-downpour:before {
	content: '\e13c';
}

.ty-weather-night:before {
	content: '\e13d';
}

.ty-weather-partly-sunny:before {
	content: '\e13e';
}

.ty-weather-shower:before {
	content: '\e13f';
}

.ty-weather-snow:before {
	content: '\e140';
}

.ty-weather-stormy:before {
	content: '\e141';
}

.ty-weather-sunny:before {
	content: '\e142';
}

.ty-weather-windy-cloudy:before {
	content: '\e143';
}

.ty-weather-windy:before {
	content: '\e144';
}

.ty-wi-fi-outline:before {
	content: '\e145';
}

.ty-wi-fi:before {
	content: '\e146';
}

.ty-wine:before {
	content: '\e147';
}

.ty-world-outline:before {
	content: '\e148';
}

.ty-world:before {
	content: '\e149';
}

.ty-zoom-in-outline:before {
	content: '\e14a';
}

.ty-zoom-in:before {
	content: '\e14b';
}

.ty-zoom-out-outline:before {
	content: '\e14c';
}

.ty-zoom-out:before {
	content: '\e14d';
}

.ty-zoom-outline:before {
	content: '\e14e';
}

.ty-zoom:before {
	content: '\e14f';
}