/* ==========================================================================
   MENUS
   ========================================================================== */

.m-menu ul {
    position: absolute;
    visibility: hidden;
}

.m-menu.m-menu-open {
    visibility: visible;
    z-index: 2;
    width: 100%;
}

.m-menu ul {
    left: -10000px;
    list-style: none;
    margin: 0;
    padding: 0;
    top: -10000px;
    z-index: 1;
}

.m-menu > ul { position: relative; }

.m-menu-open > ul {
    left: 0;
    top: 0;
    visibility: visible;
}

.m-menu-open > ul:focus {
    outline: 0;
}

.m-menu li { position: relative; }

.m-menu a,
.m-menu .m-menu-heading {
    display: block;
    color: inherit;
    line-height: 1.5;
    padding: 5px 20px;
    text-decoration: none;
    white-space: nowrap;
}

.m-menu.m-menu-horizontal > .m-menu-heading {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0;
    vertical-align: middle;
}
.m-menu.m-menu-horizontal > ul {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

.m-menu li a { padding: 5px 20px; }

.m-menu-can-have-children > .m-menu-label:after {
    content: '\25B8';
    float: right;
    /* These specific fonts have the Unicode char we need. */
    font-family: @font-sans;
    margin-right: -20px;
    margin-top: -1px;
}

.m-menu-can-have-children > .m-menu-label {
    padding-right: 30px;
}

.m-menu-separator {
    background-color: #dfdfdf;
    display: block;
    height: 1px;
    font-size: 0;
    margin: 7px 2px;
    overflow: hidden;
}

.m-menu-hidden {
    display: none;
}

/* FIXED MENU */
.m-menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


/* HORIZONTAL MENU CODE */

/* Initial menus should be inline-block so that they are horizontal */
.m-menu-horizontal li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

/* Submenus should still be display: block; */
.m-menu-horizontal li li {
    display: block;
}

/* Content after should be down arrow */
.m-menu-horizontal > .m-menu-children > .m-menu-can-have-children > .m-menu-label:after {
    content: "\25BE";
}

/*Add extra padding to elements that have the arrow so that the hover looks nice */
.m-menu-horizontal > .m-menu-children > .m-menu-can-have-children > .m-menu-label {
    padding-right: 30px;
}

/* Adjusting separator for vertical menus */
.m-menu-horizontal li.m-menu-separator {
	height: 50%;
	width: 1px;
	margin: 0 7px;
}

/* Submenus should be horizontal separator again */
.m-menu-horizontal li li.m-menu-separator {
	height: 1px;
	width: auto;
	margin: 7px 2px;
}

/* MAIN MENU STYLING */

.m-menu.m-menu-open,
.m-menu.m-menu-horizontal li .m-menu-children {
    background: #fff; /* Old browsers */
    border: 1px solid #b7b7b7;
}

/* remove borders for horizontal menus */
.m-menu.m-menu-horizontal,
.m-menu.m-menu-horizontal .m-menu-heading {
    border: none;
}


/* LINK STYLES */

.m-menu a {
    border: 1px solid transparent;
    border-left: none;
    border-right: none;

}

.m-menu a,
.m-menu .m-menu-can-have-children > li:after {
    color: #777;
}

.m-menu .m-menu-can-have-children > li:hover:after {
    color: #fff;
}

/* Focus style for a dropdown menu-item when the parent has been opened */
.m-menu .m-menu-open {
    background: #dedede;
}


.m-menu li a:hover,
.m-menu li a:focus {
    background: #eee;
}

/* DISABLED STATES */
.m-menu li.m-menu-disabled a:hover,
.m-menu li.m-menu-disabled a:focus {
    background: #fff;
    color: #bfbfbf;
}

.m-menu .m-menu-disabled > a {
    background-image: none;
    border-color: transparent;
    cursor: default;
}

.m-menu .m-menu-disabled > a,
.m-menu .m-menu-can-have-children.m-menu-disabled > a:after {
    color: #bfbfbf;
}

/* HEADINGS */
.m-menu .m-menu-heading {
    color: #565d64;
    text-transform: uppercase;
    font-size: 90%;
    margin-top: 0.5em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dfdfdf;
}

/* ACTIVE MENU ITEM */
.m-menu .m-menu-selected a {
    color: #000;
}

/* FIXED MENU */
.m-menu.m-menu-open.m-menu-fixed {
    border: none;
    border-bottom: 1px solid #b7b7b7;
}

@media (max-width: @width-sm) {
    .m-menu-horizontal {
        width: 100%;
    }

    .m-menu-children li {
        display: block;
        border-bottom: 1px solid black;
    }
}



/* breadcrumbs */

.m-breadcrumbs {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline;
        margin: 0;
        padding: 0;
        // font-size: 14px;
        // line-height: 24px;

        &:first-child {
            padding-right: 5px;
        }

        &:nth-of-type(n+3) {
            &:before {
                content: "/";
                padding-right: 5px;
            }
        }

        a {
            font-weight: bold;
        }
    }
}




/* navbar */

@r-menu-width: @width-md;

.m-navbar {
    display: block;
    position: relative;

    .m-menu-button {
        display: none;
        cursor: pointer;

        @media (max-width: @r-menu-width) { 
            display: block;
        }     
    }

    .m-navbar-menu, .m-navbar-submenu {
        list-style: none;
        margin: 0;
        padding: 0;

        &> li {
            margin: 0;
            padding: 0;

            &>a {
                display: block;
                text-decoration: none;

                &:hover {
                    background-color: #eee;                    
                }

            }
        }

        a {
            line-height: 1.5;
        }
    }

    .m-navbar-menu {

        @media (max-width: @r-menu-width) { 
            position: absolute;
            z-index: 100;
            display: none;
            border: 1px solid #ccc;
            background-color: white;
            height: 200px;
            overflow: auto;
        }   

        &> li {
            display: inline-block;

            @media (max-width: @r-menu-width) { 
                display: block;
            } 

            &:hover {
                &> a {
                    background-color: #eee;
                }
            }

            &>a {
                padding: 5px 15px;

                i {
                    font-size: 14px;

                    @media (max-width: @r-menu-width) { 
                        display: none;
                    } 
                }
            }
        }

        li {
            &:hover {
                &>.m-navbar-submenu {
                    display: block;
                }
            } 
        }
    }

    .m-navbar-submenu {
        position: absolute;
        z-index: 100;
        display: none;
        padding: 5px 0;
        border: 1px solid #ccc;
        background-color: white;
        width: 200px;

        @media (max-width: @r-menu-width) { 
            position: static;
            display: block;
            width: auto;
            padding: 0;
            border: 0;
        } 

        .m-navbar-submenu {
            margin-top: -37px;
            left: 198px;

            @media (max-width: @r-menu-width) { 
               margin: 0;
               left: 0;
            } 
        }

        li {
            display: block;
            padding: 0 5px;

            @media (max-width: @r-menu-width) { 
                padding: 0;
                padding-left: 15px;
            }

            a {
                display: block;
                padding: 5px 10px;
                font-size: 90%;

                &:hover {
                    background-color: #eee;                    
                }

                i {
                    @media (max-width: @r-menu-width) { 
                        display: none;
                    }  
                }
            }

            &.m-navbar-heading {
                &>a {
                    font-weight: bold;

                    &:hover {
                        background-color: transparent;                    
                    }
                }
            }
        }

        &.m-navbar-wide {
            width: 100%;
            left: 0;
            margin: 0;
            // padding: 15px 20px;
            padding: 20px;

            @media (max-width: @r-menu-width) { 
                padding: 0;
            }

            &>ul {
                padding: 0;
            }

            [class^="m-u-"], &> [class*=" m-u-"] {
                @media (max-width: @r-menu-width) { 
                    width: 100%;
                }
            }
        }
    }

}