/* ==========================================================================
   SETTINGS
   ========================================================================== */

/* include this file in your project, or to customise it, duplicate it and edit it */

@img-path:          '../img/';
@font-path:         '../fonts/';

@font-serif:        'Times New Roman', Times, serif;
@font-sans:         'Open Sans', Helvetica, arial, sans-serif;
@font-mono:         'Consolas', 'Menlo', 'Courier', monospace;

@width-container:   1200px;

@width-xs:          380px;
@width-sm:          600px;
@width-md:          768px; 
@width-lg:          1024px;
@width-xl:          1280px;