/* ==========================================================================
   TABLES
   ========================================================================== */

.m-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
}

.m-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.m-table td,
.m-table th {
    border-left: 1px solid #ddd;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}
.m-table td:first-child,
.m-table th:first-child {
    border-left-width: 0;
}

.m-table thead {
    // background: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}

/* striping: */
.m-table td {
    background-color: transparent;
}
.m-table-odd td {
    background-color: #eee;
}

/* nth-child selector for modern browsers */
.m-table-striped tr:nth-child(2n-1) td {
    background-color: #eee;
}

/* BORDERED TABLES */
.m-table-bordered td {
    border-bottom: 1px solid #ddd;
}
.m-table-bordered tbody > tr:last-child td,
.m-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

.m-table-horizontal td,
.m-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #ddd;
}
.m-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}


/* RESPONSIVE TABLE */

.m-table-reponsive {
    width: 100%;

    // @media screen and (max-width: @width-md) {
        // background-color: red;
        overflow-y: hidden;
        overflow-x: scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
        margin-bottom: 20px;
        border: 1px solid #ddd;
    // }

    &> .m-table {
        // @media screen and (max-width: @width-md) {
            margin-bottom: 0;
            border: none;
        // }
    }
}