/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */


/* block elements */

.m-header-group {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee;
}


/* lists */

.m-list-unstyled {
	padding-left: 0;
	list-style: none;
}


.m-list-inline {
	padding-left: 0;
	list-style: none;
	margin-left: -5px;

	&>li {
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
	}
}

.m-definition, .m-definition-horizontal {
	dt {
		font-weight: bold;
	}

	dd {
		margin: 0;
		margin-bottom: 10px;
	}
}

.m-definition {
	dt {

	}

	dd {
		
	}
	
}

.m-definition-horizontal {
	dt {
		float: left;
		width: 200px;
		clear: left;
		text-align: right;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	dd {
		margin-left: 220px;
		// margin-bottom: 10px;
	}
	
}


/* alignments */


.m-align-left {
	text-align: left !important;
}

.m-align-right {
	text-align: right !important;
}

.m-align-center {
	text-align: center !important;
}

.m-align-justify {
	text-align: justify !important;
}