
		<title>Mortar &ndash; Examples</title>

		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	    
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

		<link rel="stylesheet" type="text/css" href="/assets/css/example.css" />
		<link rel="icon" type="image/png" href="/assets/img/favicon.png" />

		<script type="text/javascript" src="/assets/js/respond.js"></script>