	   <div class="site-menu m-menu m-menu-open">
	        <a role="button" class="m-menu-heading"><i class="m-icon fa-bars"></i></a>
	        <ul>
		    	<li><a href="/grids.html">Grids</a></li>
		    	<li><a href="/typography.html">Typography</a></li>
		    	<li><a href="/forms.html">Forms</a></li>
		    	<li><a href="/buttons.html">Buttons</a></li>
		    	<li><a href="/tables.html">Tables</a></li>
		    	<li><a href="/menus.html">Menus</a></li>
	    		<li><a href="/icons.html">Icons</a></li>
	        </ul>
	    </div>
